# LAPD Crime Stats

## Dataset column descriptions:

source: https://data.lacity.org/Public-Safety/Crime-Data-from-2020-to-Present/2nrs-mtv8

<ul>
    <li>dr_no: Division of records number</li>
    <li>date_rptd: Date reported </li>
    <li>date_occ: Date Incident occurred</li>
    <li>time_occ: Time Incident occurred</li>
    <li>area: Police station (numbered 1 - 21)</li>
    <li>area_name: Name of area station</li>
    <li>rpt_dist_no: Reporting district number</li>
    <li>part_1_2: Part I or Part II level offense</li>
    <li>crm_cd: Crime committed</li>
    <li>Crm Cd Desc: Description of crime committed</li>
    <li>Mocodes: Modus Operandi code activity of associated suspect</li>
    <li>Vict Age: Age of victim</li>
    <li>Vict Sex: Sex of victim</li>
        <ul>
            <li>M: Male</li>
            <li>F: Female</li>
            <li>X: Unknown</li>
        </ul>
    <li>Vict Descent: Descent codes:</li>
        <ul>
            <li>A: Other Asian</li>
            <li>B: Black</li>
            <li>C: Chinese</li>
            <li>D: Cambodian</li>
            <li>F: Filipino</li>
            <li>G: Guamanian</li>
            <li>H: Hispanic/Latin/Mexican</li>
            <li>I: American Indian/Alaskan Native</li>
            <li>J: Japanese</li>
            <li>K: Korean</li>
            <li>L: Laotian</li>
            <li>O: Other</li>
            <li>P: Pacific Islander</li>
            <li>S: Samoan</li>
            <li>U: Hawaiian</li>
            <li>V: Vietnamese</li>
            <li>W: White</li>
            <li>X: Unknown</li>
            <li>Z: Asian Indian</li>
        </ul>
    <li>Premis Cd: Type of structure/vehicle/location where crime took place</li>
    <li>Premis Desc: Defines premis code provided</li>
    <li>Weapon Used Cd: Type of weapon used in crime</li>
    <li>Weapon Used Desc: Defines weapon code provided</li>
    <li>Status: status of case</li>
    <li>Status Desc: Description of status</li>
    <li>Crm Cd 1: Indicates code for primary crime committed </li>
    <li>Crm Cd 2: Additional code for crimes committed</li>
    <li>Crm Cd 3: Additional code for crimes committed</li>
    <li>Crm Cd 4: Additional code for crimes committed</li>
    <li>Location: Street address of crime</li>
    <li>Cross Street: Cross street of rounded address</li>
    <li>Lat: Latitude </li>
    <li>Lon: Longitude</li>
</ul>

In [1]:
import pandas as pd
import numpy as np 

file_path = "/home/francisco/Downloads/Crime_Data_from_2020_to_Present.csv"

df = pd.read_csv(file_path)
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [2]:
df.shape

(847725, 28)

In [3]:
df.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [4]:
df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           117642
Vict Age               0
Vict Sex          111909
Vict Descent      111917
Premis Cd             11
Premis Desc          516
Weapon Used Cd    552364
Weapon Desc       552364
Status                 0
Status Desc            0
Crm Cd 1              11
Crm Cd 2          785497
Crm Cd 3          845623
Crm Cd 4          847663
LOCATION               0
Cross Street      712652
LAT                    0
LON                    0
dtype: int64

## Data Cleaning 
<p>Columns are inconsistently formatted, using underscores, dashes, and literal spaces to denote blank space. Some columns are in all caps. 
Several of these columns contain redundant information by providing both the code and the code description. Crm Cd and Crm Cd 1 refer to the exact same data (With the first being of type int and the latter of type float????? My goodness). 
We can create a dictionary for these values and eliminate the description columns.</p>

In [5]:
np.sort(df['Crm Cd'].unique())

array([110, 113, 121, 122, 210, 220, 230, 231, 235, 236, 237, 250, 251,
       310, 320, 330, 331, 341, 343, 345, 347, 349, 350, 351, 352, 353,
       354, 410, 420, 421, 432, 433, 434, 435, 436, 437, 438, 439, 440,
       441, 442, 443, 444, 445, 446, 450, 451, 452, 470, 471, 473, 474,
       475, 480, 485, 487, 510, 520, 522, 622, 623, 624, 625, 626, 627,
       647, 648, 649, 651, 652, 653, 654, 660, 661, 662, 664, 666, 668,
       670, 740, 745, 753, 755, 756, 760, 761, 762, 763, 805, 806, 810,
       812, 813, 814, 815, 820, 821, 822, 830, 840, 845, 850, 860, 865,
       870, 880, 882, 884, 886, 888, 890, 900, 901, 902, 903, 904, 906,
       910, 920, 921, 922, 924, 928, 930, 931, 932, 933, 940, 942, 943,
       944, 946, 948, 949, 950, 951, 954, 956])

In [6]:
crime_codes = df[['Crm Cd', 'Crm Cd Desc']]
crime_codes.head()

   Crm Cd                                        Crm Cd Desc
0     624                           BATTERY - SIMPLE ASSAULT
1     624                           BATTERY - SIMPLE ASSAULT
2     845          SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
3     745           VANDALISM - MISDEAMEANOR ($399 OR UNDER)
4     740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...

In [7]:
crime_codes  = crime_codes.drop_duplicates()
crime_codes.head()

   Crm Cd                                        Crm Cd Desc
0     624                           BATTERY - SIMPLE ASSAULT
2     845          SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
3     745           VANDALISM - MISDEAMEANOR ($399 OR UNDER)
4     740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
5     121                                     RAPE, FORCIBLE

In [8]:
crime_code_list  = [code for code in crime_codes['Crm Cd']]
description_list = [desc for desc in crime_codes['Crm Cd Desc']]

crime_code_dictionary = dict(zip(crime_code_list, description_list))

In [9]:
crime_code_dictionary

{624: 'BATTERY - SIMPLE ASSAULT',
 845: 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE',
 745: 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
 740: 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
 121: 'RAPE, FORCIBLE',
 442: 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
 946: 'OTHER MISCELLANEOUS CRIME',
 341: 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
 330: 'BURGLARY FROM VEHICLE',
 930: 'CRIMINAL THREATS - NO WEAPON DISPLAYED',
 648: 'ARSON',
 626: 'INTIMATE PARTNER - SIMPLE ASSAULT',
 440: 'THEFT PLAIN - PETTY ($950 & UNDER)',
 354: 'THEFT OF IDENTITY',
 210: 'ROBBERY',
 230: 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
 310: 'BURGLARY',
 510: 'VEHICLE - STOLEN',
 420: 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
 761: 'BRANDISH WEAPON',
 236: 'INTIMATE PARTNER - AGGRAVATED ASSAULT',
 662: 'BUNCO, GRAND THEFT',
 350: 'THEFT, PERSON',
 860: 'BATTERY WITH SEXUAL CONTACT',
 480: 'BIKE - STOLEN',
 623: 'BATTERY POLICE (SIMPLE)',
 956: 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
 900: 'VIOLATION OF COURT ORDER',
 888: 'TRESPASSING',
 331: 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
 901: 'VIOLATION OF RESTRAINING ORDER',
 886: 'DISTURBING THE PEACE',
 421: 'THEFT FROM MOTOR VEHICLE - ATTEMPT',
 647: 'THROWING OBJECT AT MOVING VEHICLE',
 940: 'EXTORTION',
 810: 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
 922: 'CHILD STEALING',
 812: 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
 220: 'ATTEMPTED ROBBERY',
 625: 'OTHER ASSAULT',
 755: 'BOMB SCARE',
 649: 'DOCUMENT FORGERY / STOLEN FELONY',
 815: 'SEXUAL PENETRATION W/FOREIGN OBJECT',
 251: 'SHOTS FIRED AT INHABITED DWELLING',
 320: 'BURGLARY, ATTEMPTED',
 850: 'INDECENT EXPOSURE',
 820: 'ORAL COPULATION',
 668: 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
 902: 'VIOLATION OF TEMPORARY RESTRAINING ORDER',
 664: 'BUNCO, PETTY THEFT',
 920: 'KIDNAPPING - GRAND ATTEMPT',
 343: 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)',
 437: 'RESISTING ARREST',
 753: 'DISCHARGE FIREARMS/SHOTS FIRED',
 928: 'THREATENING PHONE CALLS/LETTERS',
 910: 'KIDNAPPING',
 760: 'LEWD/LASCIVIOUS ACTS WITH CHILD',
 762: 'LEWD CONDUCT',
 661: 'UNAUTHORIZED COMPUTER ACCESS',
 351: 'PURSE SNATCHING',
 821: 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
 237: 'CHILD NEGLECT (SEE 300 W.I.C.)',
 903: 'CONTEMPT OF COURT',
 813: 'CHILD ANNOYING (17YRS & UNDER)',
 666: 'BUNCO, ATTEMPT',
 627: 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
 805: 'PIMPING',
 763: 'STALKING',
 441: 'THEFT PLAIN - ATTEMPT',
 122: 'RAPE, ATTEMPTED',
 443: 'SHOPLIFTING - ATTEMPT',
 450: 'THEFT FROM PERSON - ATTEMPT',
 434: 'FALSE IMPRISONMENT',
 410: 'BURGLARY FROM VEHICLE, ATTEMPTED',
 890: 'FAILURE TO YIELD',
 520: 'VEHICLE - ATTEMPT STOLEN',
 670: 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
 951: 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
 660: 'COUNTERFEIT',
 654: 'CREDIT CARDS, FRAUD USE ($950 & UNDER',
 352: 'PICKPOCKET',
 250: 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
 110: 'CRIMINAL HOMICIDE',
 933: 'PROWLER',
 652: 'DOCUMENT WORTHLESS ($200 & UNDER)',
 950: 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
 231: 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
 345: 'DISHONEST EMPLOYEE - GRAND THEFT',
 822: 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
 814: 'CHILD PORNOGRAPHY',
 932: 'PEEPING TOM',
 622: 'BATTERY ON A FIREFIGHTER',
 471: 'TILL TAP - PETTY ($950 & UNDER)',
 235: 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
 470: 'TILL TAP - GRAND THEFT ($950.01 & OVER)',
 921: 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
 906: 'FIREARMS RESTRAINING ORDER (FIREARMS RO)',
 433: 'DRIVING WITHOUT OWNER CONSENT (DWOC)',
 651: 'DOCUMENT WORTHLESS ($200.01 & OVER)',
 943: 'CRUELTY TO ANIMALS',
 653: 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
 436: 'LYNCHING - ATTEMPTED',
 439: 'FALSE POLICE REPORT',
 806: 'PANDERING',
 949: 'ILLEGAL DUMPING',
 522: 'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
 446: 'PETTY THEFT - AUTO REPAIR',
 113: 'MANSLAUGHTER, NEGLIGENT',
 438: 'RECKLESS DRIVING',
 451: 'PURSE SNATCHING - ATTEMPT',
 485: 'BIKE - ATTEMPTED STOLEN',
 944: 'CONSPIRACY',
 954: 'CONTRIBUTING',
 756: 'WEAPONS POSSESSION/BOMBING',
 942: 'BRIBERY',
 487: 'BOAT - STOLEN',
 473: 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)',
 347: 'GRAND THEFT / INSURANCE FRAUD',
 435: 'LYNCHING',
 880: 'DISRUPT SCHOOL',
 444: 'DISHONEST EMPLOYEE - PETTY THEFT',
 475: 'THEFT, COIN MACHINE - ATTEMPT',
 474: 'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
 931: 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
 865: 'DRUGS, TO A MINOR',
 349: 'GRAND THEFT / AUTO REPAIR',
 353: 'DRUNK ROLL',
 452: 'PICKPOCKET, ATTEMPT',
 870: 'CHILD ABANDONMENT',
 924: 'TELEPHONE PROPERTY - DAMAGE',
 840: 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
 948: 'BIGAMY',
 884: 'FAILURE TO DISPERSE',
 904: 'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
 830: 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
 432: 'BLOCKING DOOR INDUCTION CENTER',
 882: 'INCITING A RIOT',
 445: 'DISHONEST EMPLOYEE ATTEMPTED THEFT'}

In [10]:
# We can repeat these steps for the other columns that follow the same pattern, in fact...

def create_reference_dictionary(dataframe, column_1, column_2):
    
    temp_df = dataframe[[column_1, column_2]]
    temp_df = temp_df.drop_duplicates()
    temp_df = temp_df.dropna()
    
    column_1_list = [x for x in temp_df[column_1]]
    column_2_list = [x for x in temp_df[column_2]]
    
    return dict(zip(column_1_list, column_2_list))

In [11]:
premis_reference_dictionary = create_reference_dictionary(df, 'Premis Cd', 'Premis Desc')

premis_reference_dictionary

{501.0: 'SINGLE FAMILY DWELLING',
 102.0: 'SIDEWALK',
 726.0: 'POLICE FACILITY',
 502.0: 'MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)',
 409.0: 'BEAUTY SUPPLY STORE',
 735.0: 'NIGHT CLUB (OPEN EVENINGS ONLY)',
 404.0: 'DEPARTMENT STORE',
 203.0: 'OTHER BUSINESS',
 101.0: 'STREET',
 108.0: 'PARKING LOT',
 503.0: 'HOTEL',
 252.0: "COFFEE SHOP (STARBUCKS, COFFEE BEAN, PEET'S, ETC.)",
 103.0: 'ALLEY',
 507.0: 'CONDOMINIUM/TOWNHOUSE',
 148.0: 'PUBLIC RESTROOM/OUTSIDE*',
 707.0: 'GARAGE/CARPORT',
 801.0: 'MTA BUS',
 510.0: 'NURSING/CONVALESCENT/RETIREMENT HOME',
 401.0: 'MINI-MART',
 122.0: 'VEHICLE, PASSENGER/TRUCK',
 406.0: 'OTHER STORE',
 514.0: 'GROUP HOME',
 900.0: 'MTA - RED LINE - UNION STATION',
 210.0: 'RESTAURANT/FAST FOOD',
 902.0: 'MTA - RED LINE - PERSHING SQUARE',
 403.0: 'DRUG STORE',
 725.0: 'GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)',
 516.0: "SINGLE RESIDENCE OCCUPANCY (SRO'S) LOCATIONS",
 123.0: 'PARKING UNDERGROUND/BUILDING',
 505.0: 'MOTEL',
 701.0: 'HOSPITAL',
 104.0: 'DRIVEWAY',
 402.0: 'MARKET',
 834.0: 'LA UNION STATION (NOT LINE SPECIFIC)',
 517.0: 'MISSIONS/SHELTERS',
 207.0: 'BAR/COCKTAIL/NIGHTCLUB',
 151.0: 'TOW YARD*',
 753.0: 'DETENTION/JAIL FACILITY',
 710.0: 'OTHER PREMISE',
 248.0: 'CELL PHONE STORE',
 405.0: 'CLOTHING STORE',
 602.0: 'BANK',
 931.0: 'MTA - BLUE LINE - 7TH AND METRO CENTER',
 116.0: 'OTHER/OUTSIDE',
 741.0: 'STAPLES CENTER *',
 118.0: 'CONSTRUCTION SITE',
 719.0: 'MEDICAL/DENTAL OFFICES',
 903.0: 'MTA - RED LINE - 7TH AND METRO CENTER',
 202.0: 'LIQUOR STORE',
 244.0: 'TOBACCO SHOP',
 744.0: 'HIGH-RISE BUILDING',
 802.0: 'MUNICIPAL BUS LINE INCLUDES LADOT/DASH',
 504.0: 'OTHER RESIDENCE',
 124.0: 'BUS STOP',
 917.0: 'MTA - PURPLE LINE - PERSHING SQUARE',
 201.0: 'JEWELRY STORE',
 733.0: 'BAR/SPORTS BAR (OPEN DAY & NIGHT)',
 738.0: 'LIBRARY',
 706.0: "SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S CLUB",
 916.0: 'MTA - PURPLE LINE - CIVIC CENTER/GRAND PARK',
 901.0: 'MTA - RED LINE - CIVIC CENTER/GRAND PARK',
 152.0: 'UNDERPASS/BRIDGE*',
 727.0: 'SHOPPING MALL (COMMON AREA)',
 212.0: 'TRANSPORTATION FACILITY (AIRPORT)',
 109.0: 'PARK/PLAYGROUND',
 717.0: 'HEALTH SPA/GYM',
 508.0: 'FRAT HOUSE/SORORITY/DORMITORY',
 121.0: 'YARD (RESIDENTIAL/BUSINESS)',
 119.0: 'PORCH, RESIDENTIAL',
 966.0: 'MTA - GOLD LINE - UNION STATION',
 218.0: 'BEAUTY/BARBER SHOP',
 810.0: 'AMTRAK TRAIN',
 220.0: 'NAIL SALON',
 413.0: 'FURNITURE STORE',
 835.0: '7TH AND METRO CENTER (NOT LINE SPECIFIC)',
 301.0: 'GAS STATION',
 221.0: 'PUBLIC STORAGE',
 722.0: 'COLLEGE/JUNIOR COLLEGE/UNIVERSITY',
 713.0: 'CONVENTION CENTER',
 222.0: 'LAUNDROMAT',
 702.0: 'OFFICE BUILDING/OFFICE',
 506.0: 'ABANDONED BUILDING ABANDONED HOUSE',
 703.0: 'ENTERTAINMENT/COMEDY CLUB (OTHER)',
 940.0: 'MTA - EXPO LINE - 7TH AND METRO CENTER',
 757.0: 'BASKETBALL COURTS',
 811.0: 'OTHER RR TRAIN (UNION PAC, SANTE FE ETC',
 754.0: 'MUSEUM',
 715.0: 'HORSE RACING/SANTA ANITA PARK*',
 113.0: 'TRUCK, COMMERICAL',
 106.0: 'TUNNEL',
 708.0: 'CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)',
 728.0: 'ELEVATOR',
 235.0: 'PHARMACY INSIDE STORE OR SUPERMARKET*',
 135.0: 'MTA PROPERTY OR PARKING LOT',
 721.0: 'HIGH SCHOOL',
 114.0: 'TAXI',
 111.0: 'BUS-CHARTER/PRIVATE',
 720.0: 'JUNIOR HIGH SCHOOL',
 906.0: 'MTA - RED LINE - VERMONT/BEVERLY',
 605.0: 'AUTOMATED TELLER MACHINE (ATM)',
 904.0: 'MTA - RED LINE - WESTLAKE/MACARTHUR PARK',
 216.0: 'SWAP MEET',
 723.0: 'PRIVATE SCHOOL/PRESCHOOL',
 138.0: 'STAIRWELL*',
 110.0: 'FREEWAY',
 704.0: 'ELEMENTARY SCHOOL',
 907.0: 'MTA - RED LINE - VERMONT/SANTA MONICA',
 243.0: "DIY CENTER (LOWE'S,HOME DEPOT,OSH,CONTRACTORS WAREHOUSE)",
 156.0: 'VALET',
 750.0: 'CYBERSPACE',
 729.0: 'SPECIALTY SCHOOL/OTHER',
 217.0: 'AUTO REPAIR SHOP',
 120.0: 'STORAGE SHED',
 242.0: 'DISCOUNT STORE (99 CENT,DOLLAR,ETC.',
 255.0: 'AUTO DEALERSHIP (CHEVY, FORD, BMW, MERCEDES, ETC.)',
 145.0: 'MAIL BOX',
 509.0: "MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME",
 515.0: 'APARTMENT/CONDO COMMON LAUNDRY ROOM',
 946.0: 'MTA - EXPO LINE - EXPO/WESTERN',
 408.0: 'AUTO SUPPLY STORE*',
 232.0: 'DELIVERY SERVICE (FED EX, UPS, COURIERS,COURIER SERVICE)*',
 251.0: 'RECYCLING CENTER',
 947.0: 'MTA - EXPO LINE - EXPO/CRENSHAW',
 949.0: 'MTA - EXPO LINE - EXPO/LA BREA',
 511.0: 'PROJECT/TENEMENT/PUBLIC HOUSING',
 237.0: 'HOSPICE',
 518.0: 'TRANSITIONAL HOUSING/HALFWAY HOUSE',
 231.0: 'DAY CARE/CHILDREN*',
 247.0: 'CAR WASH',
 943.0: 'MTA - EXPO LINE - JEFFERSON/USC',
 712.0: 'COLISEUM',
 945.0: 'MTA - EXPO LINE - EXPO/VERMONT',
 944.0: 'MTA - EXPO LINE - EXPO PARK/USC',
 897.0: 'MTA - SILVER LINE - HARBOR GATEWAY TRANSIT CTR',
 213.0: 'WAREHOUSE',
 968.0: 'MTA - GOLD LINE - LINCOLN/CYPRESS',
 238.0: 'TELECOMMUNICATION FACILITY/LOCATION',
 254.0: 'STUDIO (FILM/PHOTOGRAPHIC/MUSIC)',
 229.0: 'CHECK CASHING*',
 411.0: 'PET STORE',
 146.0: 'PATIO*',
 868.0: 'MTA - ORANGE LINE - NORTH HOLLYWOOD',
 117.0: 'BEACH',
 158.0: 'TRANSIENT ENCAMPMENT',
 107.0: 'VACANT LOT',
 127.0: 'TRASH CAN/TRASH DUMPSTER',
 705.0: 'SLIPS/DOCK/MARINA/BOAT',
 140.0: 'BALCONY*',
 204.0: 'MANUFACTURING COMPANY',
 211.0: 'PAWN SHOP',
 236.0: 'VISION CARE FACILITY*',
 249.0: 'NURSERY/FLOWER SHOP',
 809.0: 'METROLINK TRAIN',
 412.0: 'ELECTRONICS STORE (IE:RADIO SHACK, ETC.)',
 417.0: 'THE BEVERLY CONNECTION',
 415.0: 'THE GROVE',
 709.0: 'PUBLIC RESTROOM(INDOORS-INSIDE)',
 752.0: 'FIRE STATION',
 732.0: 'POST OFFICE',
 730.0: 'SYNAGOGUE/TEMPLE',
 718.0: 'MASSAGE PARLOR',
 208.0: 'AUTO SALES LOT',
 144.0: 'GOLF COURSE*',
 407.0: 'HARDWARE/BUILDING SUPPLY',
 875.0: 'MTA - ORANGE LINE - BALBOA',
 416.0: 'THE BEVERLY CENTER',
 142.0: 'DRIVE THRU*',
 233.0: 'TATTOO PARLOR*',
 228.0: 'BOWLING ALLEY*',
 519.0: 'SHORT-TERM VACATION RENTAL',
 971.0: 'MTA - GOLD LINE - HIGHLAND PARK',
 606.0: 'DRIVE THRU BANKING (WINDOW)*',
 209.0: 'EQUIPMENT RENTAL',
 898.0: 'MTA - SILVER LINE - PACIFIC COAST HWY',
 410.0: 'MEMBERSHIP STORE (COSTCO,SAMS CLUB)*',
 230.0: 'DAY CARE/ADULTS*',
 885.0: 'MTA - ORANGE LINE - CHATSWORTH',
 157.0: "VEHICLE STORAGE LOT (CARS, TRUCKS, RV'S, BOATS, TRAILERS, ETC.)",
 141.0: 'CEMETARY*',
 303.0: 'OIL REFINERY',
 736.0: 'SKATEBOARD FACILITY/SKATEBOARD PARK*',
 908.0: 'MTA - RED LINE - VERMONT/SUNSET',
 219.0: 'CLEANER/LAUNDROMAT',
 136.0: 'OTHER INTERSTATE, CHARTER BUS',
 755.0: 'VETERINARIAN/ANIMAL HOSPITAL',
 205.0: 'GUN/SPORTING GOODS',
 112.0: 'BUS, SCHOOL, CHURCH',
 239.0: 'MEDICAL MARIJUANA FACILITIES/BUSINESSES',
 958.0: 'MTA - GREEN LINE - AVIATION/LAX',
 934.0: 'MTA - BLUE LINE - SAN PEDRO',
 751.0: 'WEBSITE',
 909.0: 'MTA - RED LINE - HOLLYWOOD/WESTERN',
 804.0: 'GREYHOUND OR INTERSTATE BUS',
 604.0: 'FINANCE COMPANY',
 603.0: 'CREDIT UNION',
 913.0: 'MTA - RED LINE - NORTH HOLLYWOOD',
 512.0: 'FOSTER HOME BOYS OR GIRLS*',
 953.0: 'MTA - EXPO LINE - EXPO/SEPULVEDA',
 716.0: 'THEATRE/MOVIE',
 911.0: 'MTA - RED LINE - HOLLYWOOD/HIGHLAND',
 896.0: 'MTA - SILVER LINE - ROSECRANS',
 740.0: 'OTHER PLACE OF WORSHIP',
 115.0: 'AIRCRAFT',
 128.0: 'BUS STOP/LAYOVER (ALSO QUERY 124)',
 105.0: 'PEDESTRIAN OVERCROSSING',
 154.0: 'TRAIN TRACKS',
 954.0: 'MTA - EXPO LINE - EXPO/BUNDY',
 967.0: 'MTA - GOLD LINE - CHINATOWN',
 962.0: 'MTA - GOLD LINE - SOTO',
 302.0: 'FACTORY',
 910.0: 'MTA - RED LINE - HOLLYWOOD/VINE',
 227.0: 'ABORTION CLINIC/ABORTION FACILITY*',
 149.0: 'RIVER BED*',
 876.0: 'MTA - ORANGE LINE - RESEDA',
 711.0: 'ARCADE,GAME ROOM/VIDEO GAMES (EXAMPLE CHUCKIE CHEESE)*',
 948.0: 'MTA - EXPO LINE - FARMDALE',
 234.0: 'OPTICAL OFFICE INSIDE STORE OR SUPERMARKET*',
 414.0: 'BOOK STORE',
 895.0: 'MTA - SILVER LINE - HARBOR FWY',
 877.0: 'MTA - ORANGE LINE - TAMPA',
 147.0: 'POOL-PUBLIC/OUTDOOR OR INDOOR*',
 919.0: 'MTA - PURPLE LINE - WESTLAKE/MACARTHUR PARK',
 607.0: 'BANKING INSIDE MARKET-STORE *',
 139.0: 'AMUSEMENT PARK*',
 951.0: 'MTA - EXPO LINE - PALMS',
 215.0: 'TRAIN DEPOT/TERMINAL, OTHER THAN MTA',
 214.0: 'BUS DEPOT/TERMINAL, OTHER THAN MTA',
 742.0: 'SPORTS VENUE, OTHER',
 970.0: 'MTA - GOLD LINE - SOUTHWEST MUSEUM',
 155.0: 'DAM/RESERVOIR',
 241.0: 'ENERGY PLANT/FACILITY',
 871.0: 'MTA - ORANGE LINE - WOODMAN',
 950.0: 'MTA - EXPO LINE - LA CIENEGA/JEFFERSON',
 890.0: 'MTA - SILVER LINE - UNION STATION',
 918.0: 'MTA - PURPLE LINE - 7TH AND METRO CENTER',
 872.0: 'MTA - ORANGE LINE - VAN NUYS',
 724.0: 'TRADE SCHOOL (MEDICAL-TECHNICAL-BUSINESS)*',
 206.0: 'TV/RADIO/APPLIANCE',
 932.0: 'MTA - BLUE LINE - PICO',
 963.0: 'MTA - GOLD LINE - MARIACHI PLAZA',
 961.0: 'MTA - GOLD LINE - INDIANA',
 250.0: 'COMPUTER SERVICES/REPAIRS/SALES',
 933.0: 'MTA - BLUE LINE - GRAND/LATTC',
 964.0: 'MTA - GOLD LINE - PICO/ALISO',
 253.0: 'MORTUARY',
 915.0: 'MTA - PURPLE LINE - UNION STATION',
 513.0: 'ABATEMENT LOCATION',
 739.0: 'SPORTS ARENA',
 952.0: 'MTA - EXPO LINE - WESTWOOD/RANCHO PARK',
 601.0: 'SAVINGS & LOAN',
 150.0: 'TOOL SHED*',
 245.0: 'CATERING/ICE CREAM TRUCK',
 874.0: 'MTA - ORANGE LINE - WOODLEY',
 969.0: 'MTA - GOLD LINE - HERITAGE SQ',
 225.0: 'RECORD-CD MUSIC/COMPUTER GAME STORE',
 941.0: 'MTA - EXPO LINE - PICO',
 143.0: 'ESCALATOR*',
 746.0: 'SEWAGE FACILITY/PIPE',
 714.0: 'DODGER STADIUM',
 748.0: 'CULTURAL SIGNIFICANCE/MONUMENT',
 246.0: 'METHADONE CLINIC',
 125.0: 'PAY PHONE',
 224.0: 'SURPLUS SURVIVAL STORE',
 892.0: 'MTA - SILVER LINE - 37TH ST/USC',
 891.0: 'MTA - SILVER LINE - DOWNTOWN STREET STOPS',
 873.0: 'MTA - ORANGE LINE - SEPULVEDA',
 942.0: 'MTA - EXPO LINE - LATTC/ORTHO INSTITUTE',
 965.0: 'MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT',
 743.0: 'MASS GATHERING LOCATION',
 745.0: 'WATER FACILITY',
 870.0: 'MTA - ORANGE LINE - VALLEY COLLEGE',
 882.0: 'MTA - ORANGE LINE - SHERMAN WAY',
 129.0: 'TERMINAL, OTHER THAN MTA',
 921.0: 'MTA - PURPLE LINE - WILSHIRE/NORMANDIE',
 922.0: 'MTA - PURPLE LINE - WILSHIRE/WESTERN',
 905.0: 'MTA - RED LINE - WILSHIRE/VERMONT',
 956.0: 'MTA - GREEN LINE - AVALON',
 937.0: 'MTA - BLUE LINE - 103RD/WATTS TOWERS',
 920.0: 'MTA - PURPLE LINE - WILSHIRE/VERMONT',
 957.0: 'MTA - GREEN LINE - HARBOR FWY',
 935.0: 'MTA - BLUE LINE - WASHINGTON',
 912.0: 'MTA - RED LINE - UNIVERSAL CITY/STUDIO CITY',
 936.0: 'MTA - BLUE LINE - VERNON',
 880.0: 'MTA - ORANGE LINE - CANOGA',
 758.0: 'HANDBALL COURTS',
 884.0: 'MTA - ORANGE LINE - NORDHOFF',
 608.0: 'BANK DROP BOX/MONEY DROP-OUTSIDE OF BANK*',
 737.0: 'SKATING RINK*',
 893.0: 'MTA - SILVER LINE - SLAUSON',
 756.0: 'MUSCLE BEACH',
 304.0: 'GARMENT MANUFACTURER',
 869.0: 'MTA - ORANGE LINE - LAUREL CANYON',
 878.0: 'MTA - ORANGE LINE - PIERCE COLLEGE',
 883.0: 'MTA - ORANGE LINE - ROSCOE',
 223.0: 'VIDEO RENTAL STORE',
 731.0: 'MOSQUE*',
 879.0: 'MTA - ORANGE LINE - DE SOTO',
 137.0: 'TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*',
 803.0: 'RETIRED (DUPLICATE) DO NOT USE THIS CODE',
 305.0: 'CHEMICAL STORAGE/MANUFACTURING PLANT',
 889.0: 'MTA - SILVER LINE - LAC/USC MEDICAL CENTER',
 240.0: 'DEPT OF DEFENSE FACILITY',
 805.0: 'RETIRED (DUPLICATE) DO NOT USE THIS CODE',
 126.0: 'TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)',
 734.0: 'HOCKEY RINK/ICE HOCKEY',
 894.0: 'MTA - SILVER LINE - MANCHESTER',
 836.0: 'HARBOR FRWY STATION (NOT LINE SPECIFIC)'}

In [12]:
premis_reference_dictionary = {int(key):value for (key, value) in premis_reference_dictionary.items()}

In [13]:
premis_reference_dictionary

{501: 'SINGLE FAMILY DWELLING',
 102: 'SIDEWALK',
 726: 'POLICE FACILITY',
 502: 'MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)',
 409: 'BEAUTY SUPPLY STORE',
 735: 'NIGHT CLUB (OPEN EVENINGS ONLY)',
 404: 'DEPARTMENT STORE',
 203: 'OTHER BUSINESS',
 101: 'STREET',
 108: 'PARKING LOT',
 503: 'HOTEL',
 252: "COFFEE SHOP (STARBUCKS, COFFEE BEAN, PEET'S, ETC.)",
 103: 'ALLEY',
 507: 'CONDOMINIUM/TOWNHOUSE',
 148: 'PUBLIC RESTROOM/OUTSIDE*',
 707: 'GARAGE/CARPORT',
 801: 'MTA BUS',
 510: 'NURSING/CONVALESCENT/RETIREMENT HOME',
 401: 'MINI-MART',
 122: 'VEHICLE, PASSENGER/TRUCK',
 406: 'OTHER STORE',
 514: 'GROUP HOME',
 900: 'MTA - RED LINE - UNION STATION',
 210: 'RESTAURANT/FAST FOOD',
 902: 'MTA - RED LINE - PERSHING SQUARE',
 403: 'DRUG STORE',
 725: 'GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & CITY)',
 516: "SINGLE RESIDENCE OCCUPANCY (SRO'S) LOCATIONS",
 123: 'PARKING UNDERGROUND/BUILDING',
 505: 'MOTEL',
 701: 'HOSPITAL',
 104: 'DRIVEWAY',
 402: 'MARKET',
 834: 'LA UNION STATION (NOT LINE SPECIFIC)',
 517: 'MISSIONS/SHELTERS',
 207: 'BAR/COCKTAIL/NIGHTCLUB',
 151: 'TOW YARD*',
 753: 'DETENTION/JAIL FACILITY',
 710: 'OTHER PREMISE',
 248: 'CELL PHONE STORE',
 405: 'CLOTHING STORE',
 602: 'BANK',
 931: 'MTA - BLUE LINE - 7TH AND METRO CENTER',
 116: 'OTHER/OUTSIDE',
 741: 'STAPLES CENTER *',
 118: 'CONSTRUCTION SITE',
 719: 'MEDICAL/DENTAL OFFICES',
 903: 'MTA - RED LINE - 7TH AND METRO CENTER',
 202: 'LIQUOR STORE',
 244: 'TOBACCO SHOP',
 744: 'HIGH-RISE BUILDING',
 802: 'MUNICIPAL BUS LINE INCLUDES LADOT/DASH',
 504: 'OTHER RESIDENCE',
 124: 'BUS STOP',
 917: 'MTA - PURPLE LINE - PERSHING SQUARE',
 201: 'JEWELRY STORE',
 733: 'BAR/SPORTS BAR (OPEN DAY & NIGHT)',
 738: 'LIBRARY',
 706: "SEX ORIENTED/BOOK STORE/STRIP CLUB/GENTLEMAN'S CLUB",
 916: 'MTA - PURPLE LINE - CIVIC CENTER/GRAND PARK',
 901: 'MTA - RED LINE - CIVIC CENTER/GRAND PARK',
 152: 'UNDERPASS/BRIDGE*',
 727: 'SHOPPING MALL (COMMON AREA)',
 212: 'TRANSPORTATION FACILITY (AIRPORT)',
 109: 'PARK/PLAYGROUND',
 717: 'HEALTH SPA/GYM',
 508: 'FRAT HOUSE/SORORITY/DORMITORY',
 121: 'YARD (RESIDENTIAL/BUSINESS)',
 119: 'PORCH, RESIDENTIAL',
 966: 'MTA - GOLD LINE - UNION STATION',
 218: 'BEAUTY/BARBER SHOP',
 810: 'AMTRAK TRAIN',
 220: 'NAIL SALON',
 413: 'FURNITURE STORE',
 835: '7TH AND METRO CENTER (NOT LINE SPECIFIC)',
 301: 'GAS STATION',
 221: 'PUBLIC STORAGE',
 722: 'COLLEGE/JUNIOR COLLEGE/UNIVERSITY',
 713: 'CONVENTION CENTER',
 222: 'LAUNDROMAT',
 702: 'OFFICE BUILDING/OFFICE',
 506: 'ABANDONED BUILDING ABANDONED HOUSE',
 703: 'ENTERTAINMENT/COMEDY CLUB (OTHER)',
 940: 'MTA - EXPO LINE - 7TH AND METRO CENTER',
 757: 'BASKETBALL COURTS',
 811: 'OTHER RR TRAIN (UNION PAC, SANTE FE ETC',
 754: 'MUSEUM',
 715: 'HORSE RACING/SANTA ANITA PARK*',
 113: 'TRUCK, COMMERICAL',
 106: 'TUNNEL',
 708: 'CHURCH/CHAPEL (CHANGED 03-03 FROM CHURCH/TEMPLE)',
 728: 'ELEVATOR',
 235: 'PHARMACY INSIDE STORE OR SUPERMARKET*',
 135: 'MTA PROPERTY OR PARKING LOT',
 721: 'HIGH SCHOOL',
 114: 'TAXI',
 111: 'BUS-CHARTER/PRIVATE',
 720: 'JUNIOR HIGH SCHOOL',
 906: 'MTA - RED LINE - VERMONT/BEVERLY',
 605: 'AUTOMATED TELLER MACHINE (ATM)',
 904: 'MTA - RED LINE - WESTLAKE/MACARTHUR PARK',
 216: 'SWAP MEET',
 723: 'PRIVATE SCHOOL/PRESCHOOL',
 138: 'STAIRWELL*',
 110: 'FREEWAY',
 704: 'ELEMENTARY SCHOOL',
 907: 'MTA - RED LINE - VERMONT/SANTA MONICA',
 243: "DIY CENTER (LOWE'S,HOME DEPOT,OSH,CONTRACTORS WAREHOUSE)",
 156: 'VALET',
 750: 'CYBERSPACE',
 729: 'SPECIALTY SCHOOL/OTHER',
 217: 'AUTO REPAIR SHOP',
 120: 'STORAGE SHED',
 242: 'DISCOUNT STORE (99 CENT,DOLLAR,ETC.',
 255: 'AUTO DEALERSHIP (CHEVY, FORD, BMW, MERCEDES, ETC.)',
 145: 'MAIL BOX',
 509: "MOBILE HOME/TRAILERS/CONSTRUCTION TRAILERS/RV'S/MOTORHOME",
 515: 'APARTMENT/CONDO COMMON LAUNDRY ROOM',
 946: 'MTA - EXPO LINE - EXPO/WESTERN',
 408: 'AUTO SUPPLY STORE*',
 232: 'DELIVERY SERVICE (FED EX, UPS, COURIERS,COURIER SERVICE)*',
 251: 'RECYCLING CENTER',
 947: 'MTA - EXPO LINE - EXPO/CRENSHAW',
 949: 'MTA - EXPO LINE - EXPO/LA BREA',
 511: 'PROJECT/TENEMENT/PUBLIC HOUSING',
 237: 'HOSPICE',
 518: 'TRANSITIONAL HOUSING/HALFWAY HOUSE',
 231: 'DAY CARE/CHILDREN*',
 247: 'CAR WASH',
 943: 'MTA - EXPO LINE - JEFFERSON/USC',
 712: 'COLISEUM',
 945: 'MTA - EXPO LINE - EXPO/VERMONT',
 944: 'MTA - EXPO LINE - EXPO PARK/USC',
 897: 'MTA - SILVER LINE - HARBOR GATEWAY TRANSIT CTR',
 213: 'WAREHOUSE',
 968: 'MTA - GOLD LINE - LINCOLN/CYPRESS',
 238: 'TELECOMMUNICATION FACILITY/LOCATION',
 254: 'STUDIO (FILM/PHOTOGRAPHIC/MUSIC)',
 229: 'CHECK CASHING*',
 411: 'PET STORE',
 146: 'PATIO*',
 868: 'MTA - ORANGE LINE - NORTH HOLLYWOOD',
 117: 'BEACH',
 158: 'TRANSIENT ENCAMPMENT',
 107: 'VACANT LOT',
 127: 'TRASH CAN/TRASH DUMPSTER',
 705: 'SLIPS/DOCK/MARINA/BOAT',
 140: 'BALCONY*',
 204: 'MANUFACTURING COMPANY',
 211: 'PAWN SHOP',
 236: 'VISION CARE FACILITY*',
 249: 'NURSERY/FLOWER SHOP',
 809: 'METROLINK TRAIN',
 412: 'ELECTRONICS STORE (IE:RADIO SHACK, ETC.)',
 417: 'THE BEVERLY CONNECTION',
 415: 'THE GROVE',
 709: 'PUBLIC RESTROOM(INDOORS-INSIDE)',
 752: 'FIRE STATION',
 732: 'POST OFFICE',
 730: 'SYNAGOGUE/TEMPLE',
 718: 'MASSAGE PARLOR',
 208: 'AUTO SALES LOT',
 144: 'GOLF COURSE*',
 407: 'HARDWARE/BUILDING SUPPLY',
 875: 'MTA - ORANGE LINE - BALBOA',
 416: 'THE BEVERLY CENTER',
 142: 'DRIVE THRU*',
 233: 'TATTOO PARLOR*',
 228: 'BOWLING ALLEY*',
 519: 'SHORT-TERM VACATION RENTAL',
 971: 'MTA - GOLD LINE - HIGHLAND PARK',
 606: 'DRIVE THRU BANKING (WINDOW)*',
 209: 'EQUIPMENT RENTAL',
 898: 'MTA - SILVER LINE - PACIFIC COAST HWY',
 410: 'MEMBERSHIP STORE (COSTCO,SAMS CLUB)*',
 230: 'DAY CARE/ADULTS*',
 885: 'MTA - ORANGE LINE - CHATSWORTH',
 157: "VEHICLE STORAGE LOT (CARS, TRUCKS, RV'S, BOATS, TRAILERS, ETC.)",
 141: 'CEMETARY*',
 303: 'OIL REFINERY',
 736: 'SKATEBOARD FACILITY/SKATEBOARD PARK*',
 908: 'MTA - RED LINE - VERMONT/SUNSET',
 219: 'CLEANER/LAUNDROMAT',
 136: 'OTHER INTERSTATE, CHARTER BUS',
 755: 'VETERINARIAN/ANIMAL HOSPITAL',
 205: 'GUN/SPORTING GOODS',
 112: 'BUS, SCHOOL, CHURCH',
 239: 'MEDICAL MARIJUANA FACILITIES/BUSINESSES',
 958: 'MTA - GREEN LINE - AVIATION/LAX',
 934: 'MTA - BLUE LINE - SAN PEDRO',
 751: 'WEBSITE',
 909: 'MTA - RED LINE - HOLLYWOOD/WESTERN',
 804: 'GREYHOUND OR INTERSTATE BUS',
 604: 'FINANCE COMPANY',
 603: 'CREDIT UNION',
 913: 'MTA - RED LINE - NORTH HOLLYWOOD',
 512: 'FOSTER HOME BOYS OR GIRLS*',
 953: 'MTA - EXPO LINE - EXPO/SEPULVEDA',
 716: 'THEATRE/MOVIE',
 911: 'MTA - RED LINE - HOLLYWOOD/HIGHLAND',
 896: 'MTA - SILVER LINE - ROSECRANS',
 740: 'OTHER PLACE OF WORSHIP',
 115: 'AIRCRAFT',
 128: 'BUS STOP/LAYOVER (ALSO QUERY 124)',
 105: 'PEDESTRIAN OVERCROSSING',
 154: 'TRAIN TRACKS',
 954: 'MTA - EXPO LINE - EXPO/BUNDY',
 967: 'MTA - GOLD LINE - CHINATOWN',
 962: 'MTA - GOLD LINE - SOTO',
 302: 'FACTORY',
 910: 'MTA - RED LINE - HOLLYWOOD/VINE',
 227: 'ABORTION CLINIC/ABORTION FACILITY*',
 149: 'RIVER BED*',
 876: 'MTA - ORANGE LINE - RESEDA',
 711: 'ARCADE,GAME ROOM/VIDEO GAMES (EXAMPLE CHUCKIE CHEESE)*',
 948: 'MTA - EXPO LINE - FARMDALE',
 234: 'OPTICAL OFFICE INSIDE STORE OR SUPERMARKET*',
 414: 'BOOK STORE',
 895: 'MTA - SILVER LINE - HARBOR FWY',
 877: 'MTA - ORANGE LINE - TAMPA',
 147: 'POOL-PUBLIC/OUTDOOR OR INDOOR*',
 919: 'MTA - PURPLE LINE - WESTLAKE/MACARTHUR PARK',
 607: 'BANKING INSIDE MARKET-STORE *',
 139: 'AMUSEMENT PARK*',
 951: 'MTA - EXPO LINE - PALMS',
 215: 'TRAIN DEPOT/TERMINAL, OTHER THAN MTA',
 214: 'BUS DEPOT/TERMINAL, OTHER THAN MTA',
 742: 'SPORTS VENUE, OTHER',
 970: 'MTA - GOLD LINE - SOUTHWEST MUSEUM',
 155: 'DAM/RESERVOIR',
 241: 'ENERGY PLANT/FACILITY',
 871: 'MTA - ORANGE LINE - WOODMAN',
 950: 'MTA - EXPO LINE - LA CIENEGA/JEFFERSON',
 890: 'MTA - SILVER LINE - UNION STATION',
 918: 'MTA - PURPLE LINE - 7TH AND METRO CENTER',
 872: 'MTA - ORANGE LINE - VAN NUYS',
 724: 'TRADE SCHOOL (MEDICAL-TECHNICAL-BUSINESS)*',
 206: 'TV/RADIO/APPLIANCE',
 932: 'MTA - BLUE LINE - PICO',
 963: 'MTA - GOLD LINE - MARIACHI PLAZA',
 961: 'MTA - GOLD LINE - INDIANA',
 250: 'COMPUTER SERVICES/REPAIRS/SALES',
 933: 'MTA - BLUE LINE - GRAND/LATTC',
 964: 'MTA - GOLD LINE - PICO/ALISO',
 253: 'MORTUARY',
 915: 'MTA - PURPLE LINE - UNION STATION',
 513: 'ABATEMENT LOCATION',
 739: 'SPORTS ARENA',
 952: 'MTA - EXPO LINE - WESTWOOD/RANCHO PARK',
 601: 'SAVINGS & LOAN',
 150: 'TOOL SHED*',
 245: 'CATERING/ICE CREAM TRUCK',
 874: 'MTA - ORANGE LINE - WOODLEY',
 969: 'MTA - GOLD LINE - HERITAGE SQ',
 225: 'RECORD-CD MUSIC/COMPUTER GAME STORE',
 941: 'MTA - EXPO LINE - PICO',
 143: 'ESCALATOR*',
 746: 'SEWAGE FACILITY/PIPE',
 714: 'DODGER STADIUM',
 748: 'CULTURAL SIGNIFICANCE/MONUMENT',
 246: 'METHADONE CLINIC',
 125: 'PAY PHONE',
 224: 'SURPLUS SURVIVAL STORE',
 892: 'MTA - SILVER LINE - 37TH ST/USC',
 891: 'MTA - SILVER LINE - DOWNTOWN STREET STOPS',
 873: 'MTA - ORANGE LINE - SEPULVEDA',
 942: 'MTA - EXPO LINE - LATTC/ORTHO INSTITUTE',
 965: 'MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT',
 743: 'MASS GATHERING LOCATION',
 745: 'WATER FACILITY',
 870: 'MTA - ORANGE LINE - VALLEY COLLEGE',
 882: 'MTA - ORANGE LINE - SHERMAN WAY',
 129: 'TERMINAL, OTHER THAN MTA',
 921: 'MTA - PURPLE LINE - WILSHIRE/NORMANDIE',
 922: 'MTA - PURPLE LINE - WILSHIRE/WESTERN',
 905: 'MTA - RED LINE - WILSHIRE/VERMONT',
 956: 'MTA - GREEN LINE - AVALON',
 937: 'MTA - BLUE LINE - 103RD/WATTS TOWERS',
 920: 'MTA - PURPLE LINE - WILSHIRE/VERMONT',
 957: 'MTA - GREEN LINE - HARBOR FWY',
 935: 'MTA - BLUE LINE - WASHINGTON',
 912: 'MTA - RED LINE - UNIVERSAL CITY/STUDIO CITY',
 936: 'MTA - BLUE LINE - VERNON',
 880: 'MTA - ORANGE LINE - CANOGA',
 758: 'HANDBALL COURTS',
 884: 'MTA - ORANGE LINE - NORDHOFF',
 608: 'BANK DROP BOX/MONEY DROP-OUTSIDE OF BANK*',
 737: 'SKATING RINK*',
 893: 'MTA - SILVER LINE - SLAUSON',
 756: 'MUSCLE BEACH',
 304: 'GARMENT MANUFACTURER',
 869: 'MTA - ORANGE LINE - LAUREL CANYON',
 878: 'MTA - ORANGE LINE - PIERCE COLLEGE',
 883: 'MTA - ORANGE LINE - ROSCOE',
 223: 'VIDEO RENTAL STORE',
 731: 'MOSQUE*',
 879: 'MTA - ORANGE LINE - DE SOTO',
 137: 'TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*',
 803: 'RETIRED (DUPLICATE) DO NOT USE THIS CODE',
 305: 'CHEMICAL STORAGE/MANUFACTURING PLANT',
 889: 'MTA - SILVER LINE - LAC/USC MEDICAL CENTER',
 240: 'DEPT OF DEFENSE FACILITY',
 805: 'RETIRED (DUPLICATE) DO NOT USE THIS CODE',
 126: 'TRAIN, OTHER THAN MTA (ALSO QUERY 809/810/811)',
 734: 'HOCKEY RINK/ICE HOCKEY',
 894: 'MTA - SILVER LINE - MANCHESTER',
 836: 'HARBOR FRWY STATION (NOT LINE SPECIFIC)'}

In [14]:
# Now for Weapons and status

weapon_reference_dictionary = create_reference_dictionary(df, 'Weapon Used Cd', 'Weapon Desc')
status_reference_dictionary = create_reference_dictionary(df, 'Status', 'Status Desc')

weapon_reference_dictionary

{400.0: 'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)',
 500.0: 'UNKNOWN WEAPON/OTHER WEAPON',
 306.0: 'ROCK/THROWN OBJECT',
 511.0: 'VERBAL THREAT',
 204.0: 'FOLDING KNIFE',
 302.0: 'BLUNT INSTRUMENT',
 212.0: 'BOTTLE',
 109.0: 'SEMI-AUTOMATIC PISTOL',
 304.0: 'CLUB/BAT',
 218.0: 'OTHER CUTTING INSTRUMENT',
 102.0: 'HAND GUN',
 515.0: 'PHYSICAL PRESENCE',
 307.0: 'VEHICLE',
 216.0: 'SCISSORS',
 308.0: 'STICK',
 215.0: 'MACHETE',
 207.0: 'OTHER KNIFE',
 104.0: 'SHOTGUN',
 200.0: 'KNIFE WITH BLADE 6INCHES OR LESS',
 506.0: 'FIRE',
 214.0: 'ICE PICK',
 221.0: 'GLASS',
 113.0: 'SIMULATED GUN',
 201.0: 'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH',
 504.0: 'DEMAND NOTE',
 501.0: 'BOMB THREAT',
 312.0: 'PIPE/METAL PIPE',
 106.0: 'UNKNOWN FIREARM',
 512.0: 'MACE/PEPPER SPRAY',
 311.0: 'HAMMER',
 208.0: 'RAZOR',
 107.0: 'OTHER FIREARM',
 301.0: 'BELT FLAILING INSTRUMENT/CHAIN',
 223.0: 'UNKNOWN TYPE CUTTING INSTRUMENT',
 219.0: 'SCREWDRIVER',
 205.0: 'KITCHEN KNIFE',
 114.0: 'AIR PISTOL/REVOLVER/RIFLE/BB GUN',
 303.0: 'BRASS KNUCKLES',
 101.0: 'REVOLVER',
 206.0: 'SWITCH BLADE',
 513.0: 'STUN GUN',
 211.0: 'AXE',
 103.0: 'RIFLE',
 115.0: 'ASSAULT WEAPON/UZI/AK47/ETC',
 116.0: 'ANTIQUE FIREARM',
 305.0: 'FIXED OBJECT',
 110.0: 'SEMI-AUTOMATIC RIFLE',
 503.0: 'CAUSTIC CHEMICAL/POISON',
 514.0: 'TIRE IRON',
 508.0: 'MARTIAL ARTS WEAPONS',
 310.0: 'CONCRETE BLOCK/BRICK',
 309.0: 'BOARD',
 203.0: 'DIRK/DAGGER',
 112.0: 'TOY GUN',
 122.0: 'HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE',
 120.0: 'MAC-11 SEMIAUTOMATIC ASSAULT WEAPON',
 505.0: 'EXPLOXIVE DEVICE',
 105.0: 'SAWED OFF RIFLE/SHOTGUN',
 516.0: 'DOG/ANIMAL (SIC ANIMAL ON)',
 220.0: 'SYRINGE',
 510.0: 'SCALDING LIQUID',
 210.0: 'RAZOR BLADE',
 213.0: 'CLEAVER',
 509.0: 'ROPE/LIGATURE',
 502.0: 'BOW AND ARROW',
 108.0: 'AUTOMATIC WEAPON/SUB-MACHINE GUN',
 507.0: 'LIQUOR/DRUGS',
 217.0: 'SWORD',
 123.0: 'M1-1 SEMIAUTOMATIC ASSAULT RIFLE',
 111.0: 'STARTER PISTOL/REVOLVER',
 119.0: 'MAC-10 SEMIAUTOMATIC ASSAULT WEAPON',
 202.0: 'BOWIE KNIFE',
 209.0: 'STRAIGHT RAZOR',
 300.0: 'BLACKJACK',
 125.0: 'RELIC FIREARM',
 121.0: 'HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE',
 118.0: 'UZI SEMIAUTOMATIC ASSAULT RIFLE',
 117.0: 'UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE',
 124.0: 'M-14 SEMIAUTOMATIC ASSAULT RIFLE'}

In [15]:
np.sort(df['Weapon Used Cd'].unique())

array([101., 102., 103., 104., 105., 106., 107., 108., 109., 110., 111.,
       112., 113., 114., 115., 116., 117., 118., 119., 120., 121., 122.,
       123., 124., 125., 200., 201., 202., 203., 204., 205., 206., 207.,
       208., 209., 210., 211., 212., 213., 214., 215., 216., 217., 218.,
       219., 220., 221., 223., 300., 301., 302., 303., 304., 305., 306.,
       307., 308., 309., 310., 311., 312., 400., 500., 501., 502., 503.,
       504., 505., 506., 507., 508., 509., 510., 511., 512., 513., 514.,
       515., 516.,  nan])

In [16]:
# Again, no reason for the dictionary to have floats as keys 

weapon_reference_dictionary = {int(key):value for (key, value) in weapon_reference_dictionary.items()}

In [17]:
weapon_reference_dictionary

{400: 'STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)',
 500: 'UNKNOWN WEAPON/OTHER WEAPON',
 306: 'ROCK/THROWN OBJECT',
 511: 'VERBAL THREAT',
 204: 'FOLDING KNIFE',
 302: 'BLUNT INSTRUMENT',
 212: 'BOTTLE',
 109: 'SEMI-AUTOMATIC PISTOL',
 304: 'CLUB/BAT',
 218: 'OTHER CUTTING INSTRUMENT',
 102: 'HAND GUN',
 515: 'PHYSICAL PRESENCE',
 307: 'VEHICLE',
 216: 'SCISSORS',
 308: 'STICK',
 215: 'MACHETE',
 207: 'OTHER KNIFE',
 104: 'SHOTGUN',
 200: 'KNIFE WITH BLADE 6INCHES OR LESS',
 506: 'FIRE',
 214: 'ICE PICK',
 221: 'GLASS',
 113: 'SIMULATED GUN',
 201: 'KNIFE WITH BLADE OVER 6 INCHES IN LENGTH',
 504: 'DEMAND NOTE',
 501: 'BOMB THREAT',
 312: 'PIPE/METAL PIPE',
 106: 'UNKNOWN FIREARM',
 512: 'MACE/PEPPER SPRAY',
 311: 'HAMMER',
 208: 'RAZOR',
 107: 'OTHER FIREARM',
 301: 'BELT FLAILING INSTRUMENT/CHAIN',
 223: 'UNKNOWN TYPE CUTTING INSTRUMENT',
 219: 'SCREWDRIVER',
 205: 'KITCHEN KNIFE',
 114: 'AIR PISTOL/REVOLVER/RIFLE/BB GUN',
 303: 'BRASS KNUCKLES',
 101: 'REVOLVER',
 206: 'SWITCH BLADE',
 513: 'STUN GUN',
 211: 'AXE',
 103: 'RIFLE',
 115: 'ASSAULT WEAPON/UZI/AK47/ETC',
 116: 'ANTIQUE FIREARM',
 305: 'FIXED OBJECT',
 110: 'SEMI-AUTOMATIC RIFLE',
 503: 'CAUSTIC CHEMICAL/POISON',
 514: 'TIRE IRON',
 508: 'MARTIAL ARTS WEAPONS',
 310: 'CONCRETE BLOCK/BRICK',
 309: 'BOARD',
 203: 'DIRK/DAGGER',
 112: 'TOY GUN',
 122: 'HECKLER & KOCH 93 SEMIAUTOMATIC ASSAULT RIFLE',
 120: 'MAC-11 SEMIAUTOMATIC ASSAULT WEAPON',
 505: 'EXPLOXIVE DEVICE',
 105: 'SAWED OFF RIFLE/SHOTGUN',
 516: 'DOG/ANIMAL (SIC ANIMAL ON)',
 220: 'SYRINGE',
 510: 'SCALDING LIQUID',
 210: 'RAZOR BLADE',
 213: 'CLEAVER',
 509: 'ROPE/LIGATURE',
 502: 'BOW AND ARROW',
 108: 'AUTOMATIC WEAPON/SUB-MACHINE GUN',
 507: 'LIQUOR/DRUGS',
 217: 'SWORD',
 123: 'M1-1 SEMIAUTOMATIC ASSAULT RIFLE',
 111: 'STARTER PISTOL/REVOLVER',
 119: 'MAC-10 SEMIAUTOMATIC ASSAULT WEAPON',
 202: 'BOWIE KNIFE',
 209: 'STRAIGHT RAZOR',
 300: 'BLACKJACK',
 125: 'RELIC FIREARM',
 121: 'HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE',
 118: 'UZI SEMIAUTOMATIC ASSAULT RIFLE',
 117: 'UNK TYPE SEMIAUTOMATIC ASSAULT RIFLE',
 124: 'M-14 SEMIAUTOMATIC ASSAULT RIFLE'}

In [18]:
status_reference_dictionary

{'AO': 'Adult Other',
 'IC': 'Invest Cont',
 'AA': 'Adult Arrest',
 'JA': 'Juv Arrest',
 'JO': 'Juv Other',
 'CC': 'UNK'}

Now that we have our reference dictionaries, we no longer need the additional description columns in our dataframe. We can also drop the DR_NO since this is just a record number for the organization.

In [19]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [20]:
columns_to_drop = [
    'DR_NO','Crm Cd Desc', 'Weapon Desc', 
    'Premis Desc', 'Status Desc', 'Crm Cd 1'
]

cleaner_df = df.drop(columns_to_drop, axis = 1)
cleaner_df.shape

(847725, 22)

In [21]:
percent_null_values = (cleaner_df.isnull().sum()) / len(cleaner_df)

with pd.option_context('display.float_format','{:.2%}'.format):
    display(percent_null_values)

Date Rptd         0.00%
DATE OCC          0.00%
TIME OCC          0.00%
AREA              0.00%
AREA NAME         0.00%
Rpt Dist No       0.00%
Part 1-2          0.00%
Crm Cd            0.00%
Mocodes          13.88%
Vict Age          0.00%
Vict Sex         13.20%
Vict Descent     13.20%
Premis Cd         0.00%
Weapon Used Cd   65.16%
Status            0.00%
Crm Cd 2         92.66%
Crm Cd 3         99.75%
Crm Cd 4         99.99%
LOCATION          0.00%
Cross Street     84.07%
LAT               0.00%
LON               0.00%
dtype: float64

There's something wrong with the Date OCC and Time OCC columns...

In [22]:
df[['DATE OCC', 'TIME OCC']].head(15)

                  DATE OCC  TIME OCC
0   01/08/2020 12:00:00 AM      2230
1   01/01/2020 12:00:00 AM       330
2   02/13/2020 12:00:00 AM      1200
3   01/01/2020 12:00:00 AM      1730
4   01/01/2020 12:00:00 AM       415
5   01/01/2020 12:00:00 AM        30
6   01/02/2020 12:00:00 AM      1315
7   01/04/2020 12:00:00 AM        40
8   01/04/2020 12:00:00 AM       200
9   05/26/2020 12:00:00 AM      1925
10  01/04/2020 12:00:00 AM      2200
11  01/05/2020 12:00:00 AM       955
12  01/05/2020 12:00:00 AM      1355
13  01/07/2020 12:00:00 AM      1638
14  01/08/2020 12:00:00 AM      1805

In [23]:
df['DATE OCC'][0][:10]

'01/08/2020'

In [24]:
new_dates = [date[:10] for date in cleaner_df['DATE OCC'].values ]

In [25]:
cleaner_df['date_occurred'] = new_dates

In [26]:
cleaner_df[['DATE OCC','date_occurred']].head(10)

                 DATE OCC date_occurred
0  01/08/2020 12:00:00 AM    01/08/2020
1  01/01/2020 12:00:00 AM    01/01/2020
2  02/13/2020 12:00:00 AM    02/13/2020
3  01/01/2020 12:00:00 AM    01/01/2020
4  01/01/2020 12:00:00 AM    01/01/2020
5  01/01/2020 12:00:00 AM    01/01/2020
6  01/02/2020 12:00:00 AM    01/02/2020
7  01/04/2020 12:00:00 AM    01/04/2020
8  01/04/2020 12:00:00 AM    01/04/2020
9  05/26/2020 12:00:00 AM    05/26/2020

That's much better.
We also have 6 columns dedicated to the location, which is a bit much considering we can derive most of these data by just the Lat and Long coordinates.
We'll drop the original date occ column, along with the 4 columns for area that are NOT lat and long.

In [33]:
columns_to_drop = [
    'DATE OCC', 'AREA', 'AREA NAME',
    'LOCATION', 'Cross Street'
]

more_cleaner_df = cleaner_df.drop(columns_to_drop, axis = 1)
more_cleaner_df.head(10)

,Date Rptd,TIME OCC,Rpt Dist No,Part 1-2,Crm Cd,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Weapon Used Cd,Status,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON,date_occurred
0,01/08/2020 12:00:00 AM,2230,377,2,624,0444 0913,36,F,B,501.0,400.0,AO,NaN,NaN,NaN,34.0141,-118.2978,01/08/2020
1,01/02/2020 12:00:00 AM,330,163,2,624,0416 1822 1414,25,M,H,102.0,500.0,IC,NaN,NaN,NaN,34.0459,-118.2545,01/01/2020
2,04/14/2020 12:00:00 AM,1200,155,2,845,1501,0,X,X,726.0,NaN,AA,NaN,NaN,NaN,34.0448,-118.2474,02/13/2020
3,01/01/2020 12:00:00 AM,1730,1543,2,745,0329 1402,76,F,W,502.0,NaN,IC,998.0,NaN,NaN,34.1685,-118.4019,01/01/2020
4,01/01/2020 12:00:00 AM,415,1998,2,740,0329,31,X,X,409.0,NaN,IC,NaN,NaN,NaN,34.2198,-118.4468,01/01/2020
5,01/02/2020 12:00:00 AM,30,163,1,121,0413 1822 1262 1415,25,F,H,735.0,500.0,IC,998.0,NaN,NaN,34.0452,-118.2534,01/01/2020
6,01/02/2020 12:00:00 AM,1315,161,1,442,1402 2004 0344 0387,23,M,H,404.0,NaN,IC,998.0,NaN,NaN,34.0483,-118.2631,01/02/2020
7,01/04/2020 12:00:00 AM,40,155,2,946,1402 0392,0,X,X,726.0,NaN,IC,998.0,NaN,NaN,34.0448,-118.2474,01/04/2020
8,01/04/2020 12:00:00 AM,200,101,1,341,1822 0344 1402,23,M,B,502.0,NaN,IC,998.0,NaN,NaN,34.0677,-118.2398,01/04/2020
9,06/19/2020 12:00:00 AM,1925,1708,1,341,1300 0202 0378 0325,0,X,X,203.0,NaN,AO,NaN,NaN,NaN,34.2864,-118.5021,05/26/2020

Much better! The values in Premis Cd, Weapon Used Cd, and the Crm Cd 2/3/4 columns still need to be updated to ints. We can also fill any of the null values with 0, since all of the coded values have three digits.

In [34]:
percent_null_values = (more_cleaner_df.isnull().sum()) / len(more_cleaner_df)

with pd.option_context('display.float_format','{:.2%}'.format):
    display(percent_null_values)

Date Rptd         0.00%
TIME OCC          0.00%
Rpt Dist No       0.00%
Part 1-2          0.00%
Crm Cd            0.00%
Mocodes          13.88%
Vict Age          0.00%
Vict Sex         13.20%
Vict Descent     13.20%
Premis Cd         0.00%
Weapon Used Cd   65.16%
Status            0.00%
Crm Cd 2         92.66%
Crm Cd 3         99.75%
Crm Cd 4         99.99%
LAT               0.00%
LON               0.00%
date_occurred     0.00%
dtype: float64

In [35]:
more_cleaner_df['Vict Sex'].value_counts()

Vict Sex
M    349347
F    311659
X     74716
H        93
-         1
Name: count, dtype: int64

In [36]:
# H??? That wasn't in the documentation 

mysterious_biology = more_cleaner_df[more_cleaner_df['Vict Sex'] == 'H']
mysterious_biology.head(10)

,Date Rptd,TIME OCC,Rpt Dist No,Part 1-2,Crm Cd,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Weapon Used Cd,Status,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON,date_occurred
1511,01/03/2020 12:00:00 AM,2200,237,2,740,0329,25,H,F,103.0,NaN,IC,NaN,NaN,NaN,34.0613,-118.2638,01/03/2020
1840,01/20/2020 12:00:00 AM,40,238,1,251,1822 0450 1402,35,H,H,502.0,500.0,IC,998.0,NaN,NaN,34.0616,-118.2586,01/20/2020
4589,01/08/2020 12:00:00 AM,1100,566,2,624,1309 0416 0429 0603 0361 0913,27,H,H,502.0,400.0,IC,NaN,NaN,NaN,33.7333,-118.2814,01/07/2020
17720,10/05/2020 12:00:00 AM,200,769,1,230,0913 0906 0416 1218 1805,35,H,H,101.0,312.0,IC,NaN,NaN,NaN,34.0454,-118.3189,10/05/2020
19368,04/14/2020 12:00:00 AM,1300,721,1,330,0344,33,H,F,101.0,NaN,IC,NaN,NaN,NaN,34.0709,-118.3764,04/14/2020
93800,10/30/2020 12:00:00 AM,1155,909,2,354,0377 0100,59,H,F,248.0,NaN,IC,NaN,NaN,NaN,34.2071,-118.4298,10/30/2020
110175,11/29/2020 12:00:00 AM,1530,2088,2,626,0913 2000 1243 0416 0305,25,H,H,502.0,400.0,AO,NaN,NaN,NaN,34.0418,-118.2852,11/29/2020
127579,05/18/2020 12:00:00 AM,1630,1846,2,354,1822 0100 0930,36,H,B,502.0,NaN,IC,NaN,NaN,NaN,33.9332,-118.2485,05/17/2020
135838,05/13/2020 12:00:00 AM,1716,1322,1,440,0344,49,H,F,145.0,NaN,IC,NaN,NaN,NaN,34.0254,-118.2629,05/09/2020
147269,10/04/2020 12:00:00 AM,1530,1555,1,330,0344 1300,45,H,F,101.0,NaN,IC,NaN,NaN,NaN,34.1545,-118.3703,10/02/2020

In [37]:
for crime in mysterious_biology['Crm Cd']:
    print(f'{crime}: {crime_code_dictionary[crime]}')

740: VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
251: SHOTS FIRED AT INHABITED DWELLING
624: BATTERY - SIMPLE ASSAULT
230: ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
330: BURGLARY FROM VEHICLE
354: THEFT OF IDENTITY
626: INTIMATE PARTNER - SIMPLE ASSAULT
354: THEFT OF IDENTITY
440: THEFT PLAIN - PETTY ($950 & UNDER)
330: BURGLARY FROM VEHICLE
440: THEFT PLAIN - PETTY ($950 & UNDER)
210: ROBBERY
410: BURGLARY FROM VEHICLE, ATTEMPTED
230: ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
330: BURGLARY FROM VEHICLE
330: BURGLARY FROM VEHICLE
231: ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER
330: BURGLARY FROM VEHICLE
624: BATTERY - SIMPLE ASSAULT
354: THEFT OF IDENTITY
330: BURGLARY FROM VEHICLE
624: BATTERY - SIMPLE ASSAULT
330: BURGLARY FROM VEHICLE
330: BURGLARY FROM VEHICLE
440: THEFT PLAIN - PETTY ($950 & UNDER)
901: VIOLATION OF RESTRAINING ORDER
331: THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)
354: THEFT OF IDENTITY
230: ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
354: THEFT OF IDENTITY
440: THEFT PLAIN - PETTY ($950 & UNDER)
330: BURGLARY FROM VEHICLE
740: VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
230: ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
230: ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
330: BURGLARY FROM VEHICLE
626: INTIMATE PARTNER - SIMPLE ASSAULT
624: BATTERY - SIMPLE ASSAULT
624: BATTERY - SIMPLE ASSAULT
354: THEFT OF IDENTITY
310: BURGLARY
330: BURGLARY FROM VEHICLE
330: BURGLARY FROM VEHICLE
331: THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)
420: THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
352: PICKPOCKET
330: BURGLARY FROM VEHICLE
354: THEFT OF IDENTITY
624: BATTERY - SIMPLE ASSAULT
420: THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
354: THEFT OF IDENTITY
627: CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT
626: INTIMATE PARTNER - SIMPLE ASSAULT
236: INTIMATE PARTNER - AGGRAVATED ASSAULT
354: THEFT OF IDENTITY
331: THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)
740: VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
740: VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
330: BURGLARY FROM VEHICLE
440: THEFT PLAIN - PETTY ($950 & UNDER)
354: THEFT OF IDENTITY
420: THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
440: THEFT PLAIN - PETTY ($950 & UNDER)
331: THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)
354: THEFT OF IDENTITY
354: THEFT OF IDENTITY
440: THEFT PLAIN - PETTY ($950 & UNDER)
210: ROBBERY
210: ROBBERY
440: THEFT PLAIN - PETTY ($950 & UNDER)
220: ATTEMPTED ROBBERY
440: THEFT PLAIN - PETTY ($950 & UNDER)
354: THEFT OF IDENTITY
354: THEFT OF IDENTITY
442: SHOPLIFTING - PETTY THEFT ($950 & UNDER)
354: THEFT OF IDENTITY
350: THEFT, PERSON
230: ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
236: INTIMATE PARTNER - AGGRAVATED ASSAULT
740: VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
341: THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD
354: THEFT OF IDENTITY
440: THEFT PLAIN - PETTY ($950 & UNDER)
354: THEFT OF IDENTITY
341: THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD
341: THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD
354: THEFT OF IDENTITY
330: BURGLARY FROM VEHICLE
330: BURGLARY FROM VEHICLE
440: THEFT PLAIN - PETTY ($950 & UNDER)
624: BATTERY - SIMPLE ASSAULT
740: VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
354: THEFT OF IDENTITY

Considering an H value for victim sex is not listed in any documentation, and how unlikely it would be for an intersex victim to be identified by an H, we'll change these values to unknown (X)

In [38]:
# Taking care of all of the remaining null values 

# Both Vict Sex and Vict Descent have the same number of null values, while not stated explicitly, the documentation suggests these are crimes against property/things
more_cleaner_df['Vict Sex'] = more_cleaner_df['Vict Sex'].str.replace('H','X')
more_cleaner_df['Vict Sex'] = more_cleaner_df['Vict Sex'].str.replace('-','X')
more_cleaner_df['Vict Sex'] = more_cleaner_df['Vict Sex'].fillna('N')
more_cleaner_df['Vict Descent'] = more_cleaner_df['Vict Descent'].fillna('N')

more_cleaner_df['Mocodes'] = more_cleaner_df['Mocodes'].fillna(0)
more_cleaner_df['Weapon Used Cd'] = more_cleaner_df['Weapon Used Cd'].fillna(0)
more_cleaner_df['Crm Cd 2'] = more_cleaner_df['Crm Cd 2'].fillna(0)
more_cleaner_df['Crm Cd 3'] = more_cleaner_df['Crm Cd 3'].fillna(0)
more_cleaner_df['Crm Cd 4'] = more_cleaner_df['Crm Cd 4'].fillna(0)

In [39]:
percent_null_values = (more_cleaner_df.isnull().sum()) / len(more_cleaner_df)

with pd.option_context('display.float_format','{:.2%}'.format):
    display(percent_null_values)

Date Rptd        0.00%
TIME OCC         0.00%
Rpt Dist No      0.00%
Part 1-2         0.00%
Crm Cd           0.00%
Mocodes          0.00%
Vict Age         0.00%
Vict Sex         0.00%
Vict Descent     0.00%
Premis Cd        0.00%
Weapon Used Cd   0.00%
Status           0.00%
Crm Cd 2         0.00%
Crm Cd 3         0.00%
Crm Cd 4         0.00%
LAT              0.00%
LON              0.00%
date_occurred    0.00%
dtype: float64

In [40]:
# Convert the floats to ints 

more_cleaner_df['Premis Cd'] = more_cleaner_df['Premis Cd'].convert_dtypes()

In [41]:
more_cleaner_df['Premis Cd'].unique()

<IntegerArray>
[501, 102, 726, 502, 409, 735, 404, 203, 101, 108,
 ...
 889, 240, 805, 126, 734, 894, 836, 976, 972, 973]
Length: 314, dtype: Int64

In [42]:
# To avoid unnecessary repeats

def convert_and_fill_nulls(series):
    series = series.convert_dtypes()
    series = series.fillna(0)
    return series

In [43]:
more_cleaner_df['Premis Cd'] = more_cleaner_df['Premis Cd'].fillna(0)

more_cleaner_df['Weapon Used Cd'] = convert_and_fill_nulls(more_cleaner_df['Weapon Used Cd'])

more_cleaner_df['Crm Cd 2'] = convert_and_fill_nulls(more_cleaner_df['Crm Cd 2'])

more_cleaner_df['Crm Cd 3'] = convert_and_fill_nulls(more_cleaner_df['Crm Cd 3'])

more_cleaner_df['Crm Cd 4'] = convert_and_fill_nulls(more_cleaner_df['Crm Cd 4'])

In [44]:
more_cleaner_df.dtypes

Date Rptd          object
TIME OCC            int64
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd           Int64
Weapon Used Cd      Int64
Status             object
Crm Cd 2            Int64
Crm Cd 3            Int64
Crm Cd 4            Int64
LAT               float64
LON               float64
date_occurred      object
dtype: object

### We're almost ready for analysis! 
<ul>A few things left to clean up:
    <li>Change the date occured colum to a date format</li>
    <li>Reorder and rename the columns for consistency</li>

</ul>

In [51]:
more_cleaner_df['date_occurred'] = pd.to_datetime(more_cleaner_df['date_occurred'])
more_cleaner_df['date_reported'] = pd.to_datetime(more_cleaner_df['Date Rptd'])

/tmp/ipykernel_531830/3898646873.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  more_cleaner_df['date_reported'] = pd.to_datetime(more_cleaner_df['Date Rptd'])

In [52]:
rename_dictionary = {
    'TIME OCC':'time_occurred',
    'Part 1-2':'part_offense',
    'Rpt Dist No':'reporting_district',
    'Crm Cd':'crime_code',
    'Mocodes':'mo_codes',
    'Vict Age':'victim_age',
    'Vict Sex':'victim_sex',
    'Vict Descent':'victim_descent',
    'Premis Cd':'premises_code',
    'Weapon Used Cd':'weapon_used_code',
    'Status':'status_code',
    'Crm Cd 2':'crime_code_2',
    'Crm Cd 3':'crime_code_3',
    'Crm Cd 4':'crime_code_4',
    'LAT':'latitude',
    'LON':'longitude'
}

In [53]:
more_cleaner_df = more_cleaner_df.rename(columns = rename_dictionary)

more_cleaner_df.columns

Index(['Date Rptd', 'time_occurred', 'reporting_district', 'part_offense',
       'crime_code', 'mo_codes', 'victim_age', 'victim_sex', 'victim_descent',
       'premises_code', 'weapon_used_code', 'status_code', 'crime_code_2',
       'crime_code_3', 'crime_code_4', 'latitude', 'longitude',
       'date_occurred', 'date_reported'],
      dtype='object')

In [54]:
more_cleaner_df = more_cleaner_df.drop('Date Rptd', axis = 1)

In [55]:
clean_df = more_cleaner_df[['date_occurred','time_occurred', 'part_offense', 'crime_code', 'crime_code_2', 
                            'crime_code_3', 'crime_code_4', 'victim_age', 'victim_sex', 'victim_descent', 
                            'weapon_used_code', 'premises_code', 'status_code', 'reporting_district', 'date_reported',
                            'mo_codes', 'latitude', 'longitude']]

clean_df.head()

,date_occurred,time_occurred,part_offense,crime_code,crime_code_2,crime_code_3,crime_code_4,victim_age,victim_sex,victim_descent,weapon_used_code,premises_code,status_code,reporting_district,date_reported,mo_codes,latitude,longitude
0,2020-01-08,2230,2,624,0,0,0,36,F,B,400,501,AO,377,2020-01-08,0444 0913,34.0141,-118.2978
1,2020-01-01,330,2,624,0,0,0,25,M,H,500,102,IC,163,2020-01-02,0416 1822 1414,34.0459,-118.2545
2,2020-02-13,1200,2,845,0,0,0,0,X,X,0,726,AA,155,2020-04-14,1501,34.0448,-118.2474
3,2020-01-01,1730,2,745,998,0,0,76,F,W,0,502,IC,1543,2020-01-01,0329 1402,34.1685,-118.4019
4,2020-01-01,415,2,740,0,0,0,31,X,X,0,409,IC,1998,2020-01-01,0329,34.2198,-118.4468

In [22]:
import pdfquery

pdf = pdfquery.PDFQuery('/home/francisco/Downloads/MO_CODES_Numerical_20180627.pdf')
pdf.load()

pdf.tree.write('mo_codes.xml',pretty_print=True)
pdf

In [49]:
mo_codes = pdf.pq('LTTextLineHorizontal').text()

print(mo_codes)

REV: 05/18 MO CODES NUMERICAL Suspect Impersonate Aid victim Blind Crippled Customer Delivery Doctor God Infirm Inspector Involved in traffic/accident Police Renting Repair Person Returning stolen property Satan Salesman Seeking someone Sent by owner Social Security/Medicare DWP/Gas Company/Utility worker Contractor Gardener/Tree Trimmer Suspect wore disguise Bag Cap/hat Cloth (with eyeholes) Clothes of opposite sex Earring Gloves Handkerchief Halloween mask 0100 0101 0102 0103 0104 0105 0106 0107 0108 0109 0110 0112 0113 0114 0115 0116 0117 0118 0119 0120 0121 0122 0123 0200 0201 0202 0203 0204 0205 0206 0207 0208 0209 Mask 0210 Make up (males only) 0211 0212 0213 0214 0215 0216 0217 0218 Wig 0219 Mustache-Fake Shoes Nude/partly nude Ski mask Stocking Unusual clothes Uniform Suspect wore hood/hoodie 1 of 19 REV: 05/18 MO CODES NUMERICAL Suspect wore motorcycle helmet Escaped on (used) transit train Aimed gun Ambushed Ate/drank on premises Attacks from rear Crime on upper floor Defecated/urinated Demands jewelry Drive-by shooting Got victim to withdraw savings Graffiti Gun in waistband Hid in building Hot Prowl Jumped counter/goes behind counter 0220 0301 0302 0303 0304 0305 0306 0307 0308 0309 0310 0311 0312 0313 0314 0315 0316 Makes victim give money 0317 0318 0319 0320 0321 0322 0323 0324 0325 0326 0327 0328 0329 0330 0331 Mailbox Bombing 0332 Mailbox Vandalism 0333 0334 0335 0336 0337 0338 0339 0340 0341 Makes vict lie down 0342 Multi-susps overwhelm Pillowcase/suitcase Prepared exit Profanity Used Quiet polite Ransacked Smashed display case Smoked on premises Took merchandise Used driver Used lookout Used toilet Vandalized Victims vehicle taken Used hand held radios Brandishes weapon Cases location Chain snatch Demands money Disables Telephone Disables video camera Takes money from register Suspect follows victim/follows victim home 2 of 19 REV: 05/18 MO CODES NUMERICAL Suspect takes car keys Demanded property other than money Suspect spits on victim Cuts or breaks purse strap Forces Entry Suspect is Other Family Member Suspect is neighbor Suspect attempts to carry victim away Home invasion Suspect is babysitter Takeover robbery Ordered vict to open safe Orders vict to rear room Removes vict property Riding bike Snatch property and runs Stalks vict Takeover other Takes mail Concealed victim's body Disabled Security Took Victim's clothing or jewelry 0343 0344 0345 0346 0347 0348 0349 0350 0351 0352 0353 Weapon Concealed 0354 0355 0356 0357 0358 0359 Made unusual statement 0360 0361 0362 0363 0364 0365 0366 0367 Was Transit Patrol 0368 0369 0370 0371 0372 0373 0374 0375 0376 Makes victim kneel 0377 0378 0379 0380 0381 0382 0383 0384 0385 Suspect speaks spanish Removes cash register Brings own bag Distracts Victim Suspect apologizes Suspect speaks foreign language Frisks victim/pats down victim/searches victim Gang affiliation questions asked/made gang statement Photographed victim/took pictures of victim Handicapped/in wheelchair Gang signs/threw gang signs using hands Takes vict's identification/driver license Turns off lights/electricity Removed money/property from safe Suspect entered during open house/party/estate/yard sale Suspect removed drugs from location Suspect removed parts from vehicle 3 of 19 REV: 05/18 MO CODES NUMERICAL Suspect removed property from trunk of vehicle 0386 0387 Weapon (other than gun) in waistband Suspect points laser at plane/helicopter 0388 Knock-knock 0389 Purse snatch 0390 Used demand note 0391 False Emergency Reporting 0392 911 Abuse 0393 Susp takes UPS, Fedex, USPS packages 0394 0395 Murder/Suicide 0396 0397 0398 0399 0400 0401 0402 0403 0404 0405 0406 0407 0408 0409 0410 0411 0412 0413 0414 0415 0416 0417 0418 0419 0420 0421 0422 0423 0424 0425 0426 0427 Whipped 0428 Cut lock (to bicycle, gate, etc. Roof access (remove A/C, equip, etc.) Vehicle to Vehicle shooting Force used Bit Blindfolded Bomb Threat, Bomb found Bomb Threat, no bomb Bound Brutal Assault Burned Victim Cover mouth w/hands Covered victim's face Cut/stabbed Disfigured Drugged Gagged Handcuffed/Metal Hit-Hit w/ weapon Kicked Kidnapped Pulled victims hair Searched Threaten to kill Threaten Victims family Tied victim to object Tore clothes off victim Tortured Twisted arm Dismembered Used paper plates to disguise license number Choked/uses choke hold/Strangulation/Suffocation 4 of 19 REV: 05/18 MO CODES NUMERICAL Vict knocked to ground 0429 Vict shot 0430 Sprayed with chemical 0431 0432 Intimidation 0433 Makes victim kneel Bed Sheets/Linens 0434 Chain 0435 Clothing 0436 Flexcuffs/Plastic Tie 0437 Rope/Cordage 0438 Tape/Electrical etc... 0439 Telephone/Electric Cord 0440 0441 Wire 0442 Active Shooter/Armed person who has used deadly physical force on other persons & aggressively continues while having access to more victim's Threaten to harm victim (other than kill) Pushed Suspect swung weapon Suspect swung fist Suspect threw object at victim Grabbed Put a weapon to body Suspect shot at victim (no hits) Sex related acts Susp ejaculated outside victim Fecal Fetish Fondle victim Forced to disrobe Forced to fondle suspect Forced to masturbate suspect Forced to orally copulate suspect Hit victim prior, during, after act Hugged Kissed victims body/face 0443 0444 0445 0446 0447 0448 0449 0450 0500 0501 0502 0503 0504 0505 0506 0507 0508 0509 0510 0511 Masochism/bondage 0512 0513 0514 0515 0516 0517 0518 0519 Photographed victim Pornography Sodomy Orally copulated victim Put hand, finger or object into vagina Reached climax/ejaculated Sadism/Sexual gratification obtained by infliction of physical or mental pain on others Simulated intercourse 5 of 19 REV: 05/18 MO CODES NUMERICAL Indecent Exposure Used lubricant Suspect made sexually suggestive remarks Suspect undressed victim Consentual Sex Suspect in vehicle nude/partially nude Suspect asks minor's name Suspect removes own clothing Suspect removes victim's clothing Suspect fondles self Suspect puts hand in victim's rectum Suspect puts finger(s) in victim's rectum Suspect puts object(s) in victim's rectum Orders victim to undress Orders victim to fondle suspect Orders victim to fondle self Solicited/offered immoral act Tongue or mouth to anus Touched Unable to get erection Underwear Fetish Urinated Utilized Condom Actual Intercourse 0520 0521 0522 0523 0524 0525 0526 0527 0528 Masturbate 0529 0530 0531 0532 0533 0534 0535 0536 0537 0538 0539 0540 0541 0542 0543 0544 0545 Male Victim of sexual assault 0546 0547 0548 0549 0550 0551 0552 0553 0554 0555 0556 0557 0558 0559 0560 0561 0562 Suspect licks victim Suspect is Victim's Father Suspect is Victim's Mother Suspect is Victim's Brother Suspect is Victim's Sister Suspect is Victim's Uncle Suspect is Victim's Aunt Suspect is Victim's Guardian Suspect is Victim's Son Suspect is Victim's Daughter Susp instructs vict to make certain statements Suspect force vict to bathe/clean/wipe Suspect gives victim douche/enema Suspect ejaculates in victims mouth Suspect touches victim genitalia/genitals over clothing Suspect is Victim's Step-Father Suspect is Victim's Step-Mother 6 of 19 REV: 05/18 MO CODES NUMERICAL 0563 0601 0602 0603 0604 0605 0701 0800 0901 0902 0903 0904 0905 0906 0907 0908 0909 0910 0911 0912 0913 0914 0915 0916 0917 0918 0919 0920 0921 0922 0923 0924 0925 0926 0927 0928 0929 0930 0931 0932 0933 Fetish, Other Business Family Landlord/Tenant/Neighbor Reproductive Health Services/Facilities Traffic Accident/Traffic related incident THEFT: Trick or Device BUNCO Organized Crime Political Activity Hatred/Prejudice Strike/Labor Troubles Terrorist Group Gangs Narcotics (Buy-Sell-Rip) Prostitution Ritual/Occult Public Transit (Metrolink/Train Station,Metro Rail Red,Line Subway Station, Metro Rail Blue Line Station,adjacent transit parking lots, tracks or tunnels MTA(RTD), and other municipal lines. Revenge Insurance Victim knew Suspect Other Felony Parolee Forced theft of vehicle (Car-Jacking) Victim's Employment Career Criminal Road Rage Homeland Security Hate Incident ATM Theft with PIN number Stolen/Forged Checks (Personal Checks) Stolen/Forged Checks (Business Checks) Stolen/Forged Checks (Cashier's Checks) Forged or Telephonic Prescription Fraudulent or forged school loan Forged or Fraudulent credit applications Unauthorized use of victim's bank account information Unauthorized use of victim's credit/debit card or number Counterfeit or forged real estate documents Suspect uses victim's identity in reporting a traffic collision Suspect uses victim's identity when arrested 7 of 19 REV: 05/18 MO CODES NUMERICAL Suspect uses victim's identity when receiving a citation Dog Fighting Cock Fighting Animal Neglect Animal Hoarding 0934 0935 Misc. Stolen/Forged documents 0936 0937 0938 0939 0940 Met online/Chat Room/on Party Line 0941 Non-Revocable Parole (NRP) Party/Flier party/Rave Party 0942 Human Trafficking 0943 Bait Operation 0944 Estes Robbery 0945 Gang Feud 0946 Suspects offers/solicits 1000 Aid for vehicle 1001 Amusement 1002 appraise 1003 Assistant 1004 Audition 1005 Bless 1006 Candy 1007 Cigarette 1008 Directions 1009 Drink (not liquor) 1010 Employment 1011 Find a job 1012 Food 1013 Game 1014 Gift 1015 Hold for safekeeping 1016 Information 1017 1018 Liquor 1019 Money 1020 1021 1022 1023 1024 1025 1026 1027 1028 1100 Narcotics Repair Ride Subscriptions Teach Train Use the phone or toilet Change Suspect solicits time of day Shots Fired 8 of 19 REV: 05/18 MO CODES NUMERICAL Shots Fired (Animal) - Animal Services Absent-advertised in paper Aged (60 & over) or blind/crippled/unable to care for self Victim of crime past 12 months 1101 1201 1202 1203 1204 Moving On Vacation/Tourist 1205 Under influence drugs/liquor 1206 Hitchhiker 1207 Illegal Alien 1208 Salesman, Jewelry 1209 Professional (doctor, Lawyer, etc.) 1210 Public Official 1211 LA Police Officer 1212 LA Fireman 1213 Banking, ATM 1214 Prostitute 1215 Sales 1216 Teenager(Use if victim's age is unknown) 1217 Victim was Homeless/Transient 1218 Nude 1219 1220 Partially Nude 1221 Missing Clothing/Jewelry Homosexual/Gay 1222 Riding bike 1223 Drive-through (not merchant) 1224 Stop sign/light 1225 Catering Truck Operator 1226 Delivery person 1227 Leaving Business Area 1228 1229 Making bank drop 1230 1231 1232 1233 1234 1235 1236 1237 1238 1239 1240 1241 1242 Postal employee Taxi Driver Bank, Arriving at Bank, Leaving Bar Customer Clerk/Employer/Owner Customer Handicapped Transgender Vehicle occupant/Passenger Spouse Parent Bisexual/sexually oriented towards both sexes 9 of 19 REV: 05/18 MO CODES NUMERICAL Co-habitants Victim was forced into business Victim was forced into residence Opening business Closing business Victim was a student Victim was a street vendor Bus Driver Train Operator Followed Transit System Patron Victim is Newborn-5 years old Victim is 6 years old thru 13 years old Victim is 14 years old thru 17 years old Deaf/Hearing Impaired 1243 1244 1245 1247 1248 1251 1252 1253 1254 1255 1256 1257 1258 1259 1260 1261 Mentally Challenged/Retarded/Intellectually Slow Raped while unconscious 1262 Agricultural Target 1263 Pipeline 1264 1265 Mailbox 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280 1281 1300 1301 1302 1303 1304 1305 1306 Victim was security guard Home under construction Victim was 5150/Mental Illness Victim was armored car driver Victim was gang member Victim was Law Enforcement (not LAPD) Home was being fumigated Victim was Inmate/Incarcerated Vacant Residence/Building Pregnant Gardner Victim was Uber/Lyft driver Victim was Foster child Victim was Foster parent Victim was Pistol-whipped Vehicle involved Forced victim vehicle to curb Suspect forced way into victim's vehicle Hid in rear seat Victim forced into vehicle Victim parking, garaging vehicle Victim was at/leaving medical/retail/non-retail cannabis location Stopped victim vehicle by flagging down, forcing T/A, etc. 10 of 19 REV: 05/18 MO CODES NUMERICAL Breaks window Drives by and snatches property Susp uses vehicle Victim in vehicle Victim removed from vehicle Suspect follows victim in vehicle Suspect exits vehicle and attacks pedestrian Victim loading vehicle Victim unloading vehicle Victim entering their vehicle Victim exiting their vehicle Suspect follows victim home Blood Stains Evidence Booked (any crime) Fingerprints Footprints Left Note Tool Marks Bullets/Casings Bite Marks Clothes Gun Shot Residue Hair Jewelry Paint Photographs Rape Kit Saliva Semen Skeleton/Bones Firearm booked as evidence Video surveillance booked/available Other MO (see rpt) Bodily Force Cutting Tool Knob Twist Lock Box Lock slip/key/pick Open/unlocked Pried Removed Smashed Tunneled 11 of 19 1307 1308 1309 1310 1311 1312 1313 1314 1315 1316 1317 1318 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413 1414 1415 1416 1417 1418 1419 1420 1501 1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 REV: 05/18 MO CODES NUMERICAL Shaved Key Punched/Pulled Door Lock Elder Abuse/Physical Elder Abuse/Financial Susp is/was mother's boyfriend Susp is/was victim's co-worker Susp is/was victim's employee Susp is/was victim's employer Susp is/was fellow gang member Susp is/was father's girlfriend Susp is/was priest/pastor Susp is/was other religious confidant Susp is/was rival gang member Susp is/was roommate Susp is/was victim's teacher/coach Susp is/was foster parent/sibling Susp is/was current/former spouse/co-habitant Susp is/was current/former boyfriend/girlfriend Susp was student Suspect is/was known gang member Acquaintance Caretaker/care-giver/nanny Common-law Spouse Friend Spouse Stranger Brief encounter/Date Classmate Auction Fraud/eBay/cragslist,etc. (Internet based theft) Child Pornography/In possession of/Via computer Credit Card Fraud/Theft of services via internet Cyberstalking (Stalking using internet to commit the crime) Denial of computer services Destruction of computer data Harrassing E-Mail/Text Message/Other Electronic Communications Hate Crime materials/printouts/e-mails Identity Theft via computer Introduction of virus or contaminants into computer system/program 1611 1612 1701 1702 1801 1802 1803 1804 1805 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819 1820 1821 1822 1823 1824 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910 Minor solicited for sex via internet/Known minor 1911 1912 1913 1914 Theft of computer data Threatening E-mail/Text Messages Suspect meets victim on internet/chatroom Unauthorized access to computer system 12 of 19 REV: 05/18 MO CODES NUMERICAL 1915 1916 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 Mistreatment of animal 2021 2022 2023 2024 2025 2026 2027 2028 2029 2030 2031 2032 2033 2034 2035 2036 2037 2038 2039 2040 Internet Extortion Domestic violence Suspect on drugs Cannabis related Suspect was Juvenile Suspect was Bisexual Suspect was Pregnant Victim used profanity Racial slurs Hate-related language Victim paid by wire transfer Suspect intoxicated/drunk Suspect 5150/mentally challenged or disturbed Suspect is homeless/transient Suspect uses wheelchair Suspect was transgender Suspect was homosexual/gay In possession of a Ballistic vest Suspect was Inmate/Incarcerated Suspect was Jailer/Police Officer Vendor (street or sidewalk) Suspect was costumed character (e.g., Barney, Darth Vader, Spiderman, etc.) Tour Bus/Van Operator Suspect was Uber/Lyft driver Suspect was Foster child Suspect was Train Operator Suspect was MTA Bus Driver Theft of animal (non-livestock) Suspect was Aged (60+over) Suspect was Hitchhiker Suspect was Prostitute Suspect was Deaf/hearing impaired Suspect was Repeat/known shoplifter Victim used racial slurs Victim used hate-related language Victim left property unattended Victim refused to cooperate w/investigation Victim was asleep/unconscious Temporary/Vacation rental (AirBnB, etc) Restraining order in place between suspect and victim Victim was costumed character (e.g., Barney, Darth Vader, Spiderman, etc.) Threats via Social Media 13 of 19 REV: 05/18 MO CODES NUMERICAL 2041 2042 2043 2044 2045 2046 2047 2048 2049 2050 2051 2052 9999 Harassment via Social Media Victim staying at short-term vacation rental Victim is owner of short-term vacation rental Suspect staying at short-term vacation rental Suspect is owner of short-term vacation rental Suspect damaged property equal to or exceeding $25,000 Victim was injured requiring transportation away from scene for medical reasons Victim was on transit platform Victim was passenger on bus Victim was passenger on train Suspect was passenger on bus Suspect was passenger on train Indistinctive MO 14 of 19 REV: 05/18 SUSPICIOUS ACTIVITY MO CODES (SAR USE ONLY) NUMERICAL Observation/Surveillance Counter Surveillance efforts Questions about-security procedures Appears to take measurements Photography (pics or video footage) Draws diagrams or takes notes Abandons suspicious package/item Abandons vehicle restricted area Enters restricted area w/o authorization Testing or Probing of Security Contraband at security check point Susp purchase of legal materials Acquires restricted items/information Acquires illegal explosive/precur agents Acquires illegal chemical agent Acquires illegal biological agents Acquires illegal rediological material Uses explosives for illegal purposes Uses chemical agent illegally Uses biological agent illegally Uses radiological material illegally Acquires uniforms without legit reason Acquires official vehicle without legit reason Pursues training/education with suspect motives Large unexplained sum of currency 2100 2101 2102 2103 2104 2105 2106 2107 2108 2109 2110 2111 2112 2113 2114 2115 2116 2117 2118 2119 2120 2121 2122 2123 2124 2125 Multiple passports/ID's/travel documents Expressed or Implied threats 2126 Brags about affiliation with extremist organization 2127 Coded conversation or transmission 2128 Overt support of terrorist network 2129 Uses Facsimile/Hoax explosive device (susp offer/solicts) 2130 Uses Facsimile/Hoax dispersal device (susp offer/solicts) 2131 Sensitive event schedules(susp offer/solicts) 2135 VIP appearance or travel schedules (susp offer/solicts) 2136 Security schedules (susp offer/solicts) 2137 Blueprints/building plans (susp offer/solicts) 2138 Evacuation or emergency plans (susp offer/solicts) 2139 2140 Security plans (susp offer/solicts) 2141 Weapons or ammunition (susp offer/solicts) 2142 2143 2144 2145 Explosive materials(susp offer/solicts) Illicit chemical agents (susp offer/solicts) Illicit biological agents (susp offer/solicts) Illicit radiological material (susp offer/solicts) 15 of 19 REV: 05/18 SUSPICIOUS ACTIVITY MO CODES (SAR USE ONLY) NUMERICAL Explosive materials (susp in possession) Illicit chemical agents (susp in possession) Illicit biological agents (susp in possession) Illicit radiological material (susp in possession) Other sensitive materials (susp in possession) Facsimile/Hoax explosive device (susp in possession) Facsimile/Hoax dispersal device (susp in possession) Associates with known/susp terrorist Corresponds w/suspected terrorist In photos w/suspected terrorists Organization supports overthrow/violent acts Bomb/explosive device Biological agent Chemical agent Radiological matter Other sensitive materials (susp offer/solicts) 2146 Coded/ciphered literature/correspondence 2150 Sensitive event schedules (susp in possession) 2151 VIP appearance or travel schedules (susp in possession) 2152 Security schedules (susp in possession) 2153 Blueprints/building plans (susp in possession) 2154 Evacuation or emergency plans (susp in possession) 2155 2156 Security plans (susp in possession) 2157 Weapons or ammunition (susp in possession) 2158 2159 2160 2161 2162 2163 2164 2170 2171 2172 2173 2180 2181 2182 2183 2184 Military ordinance Incendiary device 2185 Pyrotechnics 2186 Facsimile/Hoax device 2187 Financing terrorism 2190 Victim's religion 2191 Victim's national origin 2192 Influencing societal action 2193 Furthering objectives b

In [47]:
# vs what we started with 
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

We'll also pickle the reference dictionaries for future use

In [56]:
import pickle 


with open('crime_code_reference.pickle', 'wb') as file:
    pickle.dump(crime_code_dictionary, file, protocol=pickle.HIGHEST_PROTOCOL)


with open('weapon_reference_dictionary.pkl', 'wb') as file:
    pickle.dump(weapon_reference_dictionary, file, protocol=pickle.HIGHEST_PROTOCOL)
    
    
with open('status_reference_dictionary.pkl', 'wb') as file:
    pickle.dump(status_reference_dictionary, file, protocol=pickle.HIGHEST_PROTOCOL)
    

with open('premis_reference_dictionary.pkl', 'wb') as file:
    pickle.dump(premis_reference_dictionary, file, protocol=pickle.HIGHEST_PROTOCOL)

In [57]:
clean_df.to_pickle('./clean_crime_data.pkl')

## Building the ML Model

In [1]:
# Starting with the original cleaned data set 

import pandas as pd
import numpy as np

file_path = '/home/francisco/Documents/ubuntu-docs/clean_crime_data.pkl' 

df = pd.read_pickle(file_path)
df.head()

,date_occurred,time_occurred,part_offense,crime_code,crime_code_2,crime_code_3,crime_code_4,victim_age,victim_sex,victim_descent,weapon_used_code,premises_code,status_code,reporting_district,date_reported,mo_codes,latitude,longitude
0,2020-01-08,2230,2,624,0,0,0,36,F,B,400,501,AO,377,2020-01-08,0444 0913,34.0141,-118.2978
1,2020-01-01,330,2,624,0,0,0,25,M,H,500,102,IC,163,2020-01-02,0416 1822 1414,34.0459,-118.2545
2,2020-02-13,1200,2,845,0,0,0,0,X,X,0,726,AA,155,2020-04-14,1501,34.0448,-118.2474
3,2020-01-01,1730,2,745,998,0,0,76,F,W,0,502,IC,1543,2020-01-01,0329 1402,34.1685,-118.4019
4,2020-01-01,415,2,740,0,0,0,31,X,X,0,409,IC,1998,2020-01-01,0329,34.2198,-118.4468

In [2]:
df['victim_sex'].value_counts()

victim_sex
M    349347
F    311659
N    111909
X     74810
Name: count, dtype: int64

In [3]:
victim_sex_n = df.loc[df['victim_sex'] == 'N']
victim_sex_x = df.loc[df['victim_sex'] == 'X']

unknown_vs = pd.concat([victim_sex_n,victim_sex_x], axis=0)

unknown_vs.size

3360942

In [4]:
df = df.loc[(df['victim_sex'] == 'M') | (df['victim_sex'] == 'F')]
df.size

11898108

In [5]:
df['crime_code'] = [code // 100 for code in df['crime_code']]
df['crime_code_2'] = [code // 100 for code in df['crime_code_2']]
df['crime_code_3'] = [code // 100 for code in df['crime_code_3']]
df['crime_code_4'] = [code // 100 for code in df['crime_code_4']]
df['weapon_used_code'] = [code // 100 for code in df['weapon_used_code']]
df['premises_code'] = [code // 100 for code in df['premises_code']]

In [6]:
reporting_lag = df['date_reported'] - df['date_occurred']

In [7]:
df['reporting_lag'] = reporting_lag

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df['victim_age'] = scaler.fit_transform(np.array(df['victim_age']).reshape(-1,1))
df['time_occurred'] = scaler.fit_transform(np.array(df['time_occurred']).reshape(-1,1))
df['latitude'] = scaler.fit_transform(np.array(df['latitude']).reshape(-1,1))   
df['longitude'] = scaler.fit_transform(np.array(df['longitude']).reshape(-1,1))
df['reporting_lag'] = scaler.fit_transform(np.array(df['reporting_lag']).reshape(-1,1))

df = df.drop(['date_occurred','date_reported'],axis=1)

In [9]:
df.head()

,time_occurred,part_offense,crime_code,crime_code_2,crime_code_3,crime_code_4,victim_age,victim_sex,victim_descent,weapon_used_code,premises_code,status_code,reporting_district,mo_codes,latitude,longitude,reporting_lag
0,0.945293,2,6,0,0,0,0.376238,F,B,4,5,AO,377,0444 0913,0.990674,0.003116,0.000000
1,0.139525,2,6,0,0,0,0.267327,M,H,5,1,IC,163,0416 1822 1414,0.991600,0.003481,0.000705
3,0.733249,2,7,9,0,0,0.772277,F,W,0,5,IC,1543,0329 1402,0.995171,0.002239,0.000000
5,0.012299,1,1,9,0,0,0.267327,F,H,5,7,IC,163,0413 1822 1262 1415,0.991580,0.003490,0.000705
6,0.557252,1,4,9,0,0,0.247525,M,H,0,4,IC,161,1402 2004 0344 0387,0.991670,0.003409,0.000000

In [10]:
mcs = (df['mo_codes'])

str_mcs = [str(x) for x in mcs]

new_list = [list(x.split(" ")) for x in str_mcs]

lens = [len(x) for x in new_list]
print(max(lens))

10

In [11]:
for x in new_list:
    while len(x) < 10:
        x.append(0)

In [12]:
mo_code_arr = [np.array(x) for x in new_list]

In [13]:
mo_code_arr = np.asarray(mo_code_arr)
mo_code_arr.shape

(661006, 10)

In [14]:
mo_code_df = pd.DataFrame(mo_code_arr, columns=['mo_code_1','mo_code_2','mo_code_3','mo_code_4','mo_code_5','mo_code_6','mo_code_7','mo_code_8','mo_code_9','mo_code_10'],dtype='float')

In [15]:
mo_code_df

,mo_code_1,mo_code_2,mo_code_3,mo_code_4,mo_code_5,mo_code_6,mo_code_7,mo_code_8,mo_code_9,mo_code_10
0,444.0,913.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,416.0,1822.0,1414.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,329.0,1402.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,413.0,1822.0,1262.0,1415.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1402.0,2004.0,344.0,387.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
661001,416.0,411.0,1822.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661002,601.0,445.0,416.0,359.0,0.0,0.0,0.0,0.0,0.0,0.0
661003,1822.0,344.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661004,329.0,1822.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661005,1822.0,1606.0,344.0,385.0,1300.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df = pd.concat([df,mo_code_df],axis=1)

In [17]:
df.head()

,time_occurred,part_offense,crime_code,crime_code_2,crime_code_3,crime_code_4,victim_age,victim_sex,victim_descent,weapon_used_code,...,mo_code_1,mo_code_2,mo_code_3,mo_code_4,mo_code_5,mo_code_6,mo_code_7,mo_code_8,mo_code_9,mo_code_10
0,0.945293,2.0,6.0,0.0,0.0,0.0,0.376238,F,B,4.0,...,444.0,913.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.139525,2.0,6.0,0.0,0.0,0.0,0.267327,M,H,5.0,...,416.0,1822.0,1414.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.733249,2.0,7.0,9.0,0.0,0.0,0.772277,F,W,0.0,...,413.0,1822.0,1262.0,1415.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.012299,1.0,1.0,9.0,0.0,0.0,0.267327,F,H,5.0,...,1822.0,344.0,1402.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.557252,1.0,4.0,9.0,0.0,0.0,0.247525,M,H,0.0,...,1822.0,1414.0,344.0,1307.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df = df.drop('mo_codes',axis=1)

In [19]:
df['victim_sex'].value_counts()

victim_sex
M    349347
F    311659
Name: count, dtype: int64

In [20]:
df['victim_sex'] = df['victim_sex'].astype('str')
df['victim_descent'] = df['victim_descent'].astype('str')

In [21]:
df['victim_sex'] = df['victim_sex'].apply(lambda x: x.replace(x,'0') if x=='M' else x.replace(x,'1')).astype('float')

df['victim_descent'] = df['victim_descent'].apply(lambda x: x.replace(x,'0') if x=='W' else x.replace(x, '1')).astype('float')

In [22]:
df.head()

,time_occurred,part_offense,crime_code,crime_code_2,crime_code_3,crime_code_4,victim_age,victim_sex,victim_descent,weapon_used_code,...,mo_code_1,mo_code_2,mo_code_3,mo_code_4,mo_code_5,mo_code_6,mo_code_7,mo_code_8,mo_code_9,mo_code_10
0,0.945293,2.0,6.0,0.0,0.0,0.0,0.376238,1.0,1.0,4.0,...,444.0,913.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.139525,2.0,6.0,0.0,0.0,0.0,0.267327,0.0,1.0,5.0,...,416.0,1822.0,1414.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.733249,2.0,7.0,9.0,0.0,0.0,0.772277,1.0,0.0,0.0,...,413.0,1822.0,1262.0,1415.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.012299,1.0,1.0,9.0,0.0,0.0,0.267327,1.0,1.0,5.0,...,1822.0,344.0,1402.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.557252,1.0,4.0,9.0,0.0,0.0,0.247525,0.0,1.0,0.0,...,1822.0,1414.0,344.0,1307.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df = df.drop(['status_code','reporting_district'],axis=1)

In [27]:
df = df.fillna(0)

In [28]:
from sklearn.model_selection import train_test_split

X = np.asarray(df.drop('victim_sex',axis=1))
y = np.asarray(df['victim_sex'])

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [29]:
from sklearn.svm import SVC

clf = SVC().fit(X_train,y_train)
clf.score(X_test,y_test)

In [ ]:
from sklearn.model_selection import GridSearchCV


params = {'C':np.arange(1,10),
          'gamma':np.arange(1,10)}

grid = GridSearchCV(clf,params)
grid.fit(X_train,y_train)

print(grid.best_params_)
print(grid.best_score_)